 <!--========== PARALLAX ==========-->
 <div >
        <div class="parallax" data-parallax="scroll" >
            <div class="parallax-content container">
                <h2 style="color: white" class="">We believe that digital products with a good user experience will always transform businesses and organizations </h2>
                <a href="#" class="btn-theme btn-theme-sm btn-white-brd text-uppercase">Explore</a>
            </div>
        </div>
        <!--========== PARALLAX ==========-->

        <!--========== PAGE LAYOUT ==========-->
        <!-- Features -->
        <div class="">
            <div class="content-lg container">
                <div class="row">
                    <div class="col-sm-6  sm-margin-b-50">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                            <h3 class="margin-b-10">We have our eyes always on the price</h3>
                            <p  class="links" >Phase 1</p>
                            <p style="padding-left: 20px">Our mission is to propel the growth of our partners through innovative, high quality tools & solutions</p>
                            <a class="link" href="#">Self driven and dedicated</a>
                        </div>
                    </div>
                    <div style="" class=" col-sm-5 col-sm-offset-1 sm-margin-b-50 about-container">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                            
                            <img width="640" height="426" title="Web and Mobile app development, web design, mobile developer" class="img-responsive" alt="Web and Mobile app development, web design, mobile developer" src="{{dirlocation}}public/assets/img/services/reimnet-team.jpg" srcset="{{dirlocation}}public/assets/img/services/reimnet-team.jpg 640w, {{dirlocation}}public/assets/img/services/reimnet-team-300x200.jpg 300w" sizes="(max-width: 640px) 100vw, 640px">
                        </div>
                    </div>
                  
                </div>
                <!--// end row -->
            </div>
        </div>
        <!-- End Features -->

        <!-- About -->
        <div class="bg-color-sky-light">
        <div class="content-lg container">
            <div class="row margin-b-20" >
                <div class="col-sm-12"  >
                    <p  class="links" > 
Our driving force</p>
                    <h4 >We’re a team of people with multi-faceted—but highly specialized—strategists, designers and developers. Whether you’re a startup, corporation, enterprise or an individual, we can help you bring your vision to life using a simple and flexible process.</h4>
                </div>
            </div>
            <!--// end row -->

            <div class="row">
               
                <div class="col-sm-3 ">
                     <p  class="links" > 
                  Our values</p>
                    <h3 >For every successful team, there is driving force</h3>
                </div>
                 <div class="col-sm-8 col-sm-offset-1 sm-margin-b-50">
                    <div class="row">

                         <div class="col-sm-6 margin-b-30">
                            <div class="about">
                                <h4>Dedication</h4>
                        <p>We are passionate about building strong, long-lasting client relationships. This dedication spurs us to go “above and beyond” on our client’s behalf</p>
                    </div>
                    </div>
                      <div class="col-sm-6 margin-b-30">
                            <div class="about">
                                <h4>Quality</h4>
                        <p>Our work is our pride; producing anything less than impeccable is simply out of character—and out of the question </p>
                    </div>
                    </div>
                      <div class="col-sm-6 margin-b-30">
                            <div class="about">
                                <h4>No one-size-fits-all</h4>
                        <p>We do not have a standard offer. Each project is unique, rest assured that each of our ideas is also. </p>
                    </div>
                    </div>
                     
                    
                     
                    <div class="col-sm-6 margin-b-30">
                            <div class="about">
                                <h4>Simplicity</h4>
                        <p>Simple isn’t easy. We tackle the complex to create elegant results</p>
                    </div>
                    </div>
                     <div class="col-sm-6 margin-b-30">
                            <div class="about">
                                <h4>Innovate</h4>
                        <p>We strive to understand new technologies and stay up-to date with development & design trends. We expand our knowledge base regularly – it’s something we do for fun.  </p>
                    </div>
                    </div>
                   
                        
                    </div>
                  
                </div>
            </div>
            <!--// end row -->
        </div>
    </div>
        <!-- End About -->
              <!-- End Testimonials -->
  <div class="" style="background-color: #63cbd7;  ">
            <div class="content-lg container">
                <!-- Swiper Clients -->
                <div class="swiper-slider swiper-clients" >
                    <h2 style="text-align: center; font-size: 24px; color: white">You're in the right hands​, Let’s help transform your next big idea. We’d love to hear from you</h2>
                    <div style="text-align: center;">
                        <a style="padding-right: 20px;  background: white" href="#" class="btn-theme btn-theme-sm   text-uppercase">Start a project</a>
                        <a  href="#" class="btn-theme btn-theme-sm btn-base-bg text-uppercase">Let's talk</a>
                    </div>
                </div>
                <!-- End Swiper Clients -->
            </div>
        </div>

        