 <!--========== PARALLAX ==========-->
 <div >
        <div class="parallax" data-parallax="scroll" >
            <div class="parallax-content container">
                <h2 style="color: white" class="">Become a partner </h2>
            </div>
        </div>
        <!--========== PARALLAX ==========-->

        <!--========== PAGE LAYOUT ==========-->
        <!-- Features -->
        <div class="">
            <div class="content-lg container">
                <div class="row margin-b-50" >
                <div class="col-sm-12"  >
                    <h3  class="">Blink22 Seeking Partners with potential</h2>
                    <hp >The innovative Tega Partnership Program is on the lookout for ambitious startups in need of technical teams - and we're offering our specialist capabilities and support at reduced prices in exchange for a share of equity in the business. We want to help build killer products we really believe in - could your big idea be one of them?</p>
                </div>
            </div>
                <div class="row margin-b-50">
                    <div class="col-sm-6  sm-margin-b-50">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                            <div style="display: flex; justify-content: space-between;">
                            <div ><h2 ><img width="75" height="75" title="Web and Mobile app development, web design, mobile developer" class="img-responsive" alt="Web and Mobile app development, web design, mobile developer" src="{{dirlocation}}public/assets/img/strategy/learning opportunities.svg">   </h2></div>
                            <div>
                                 <h3 class="margin-b-10">  Moving founders forward</h3>
                            <p class="margin-b-20">We pride ourselves on the strong relationships we build with all of our clients - and with the Blink22 Partnership Program, we'll be taking those relationships to the next level.</p>
                            <p class="margin-b-20">We'll only partner with startups whose idea and ethos we can really buy into - and whose founders we truly believe in. It means we can trust you with our equity share and you can trust us to develop the best possible product.</p>
                            
                            <p class="margin-b-20">And while we take care of the technical work, you can get on with establishing your business.</p>
                           
                            </div>
                        </div>
                           
                           
                        </div>
                    </div>
                    <div style="" class=" col-sm-5 col-sm-offset-1 sm-margin-b-50 ">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                            
                           <img width="640" height="750" title="Web and Mobile app development, web design, mobile developer" class="img-responsive" alt="Web and Mobile app development, web design, mobile developer" src="{{dirlocation}}public/assets/img/strategy/Illustration-2.svg" >
                        </div>
                    </div>
                  
                </div>
                <!--// end row -->
                  
                  <div class="row margin-b-50">
                    <div class="col-sm-6  sm-margin-b-50">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                              <div style="display: flex; justify-content: space-between;">
                            <div ><h2 ><img width="75" height="75" title="Web and Mobile app development, web design, mobile developer" class="img-responsive" alt="Web and Mobile app development, web design, mobile developer" src="{{dirlocation}}public/assets/img/strategy/learning opportunities-1.svg">   </h2></div>
                            <div>
                                 <h3 class="margin-b-10">  An expert team that shares your ambition</h3>
                            
                            <p class="margin-b-20">Your technical team can make or break your startup. As a Blink22 partner, you'll get a knowledgeable and supportive technical 'arm' to your business; a team of people who care about the project as much as you do - and who actually have skin in the game, just like you.</p>
                            
                            <p class="margin-b-20">And because you'll also get a hefty discount on our world-class development services, you can invest more in other crucial areas - such as marketing, operations and accelerating the growth of your business - as you make your vision a reality.</p>
                           
                            </div>
                        </div>
                        </div>
                    </div>
                    <div style="" class=" col-sm-5 col-sm-offset-1 sm-margin-b-50 ">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                            
                             <img width="640" height="740" title="Web and Mobile app development, web design, mobile developer" class="img-responsive" alt="Web and Mobile app development, web design, mobile developer" src="{{dirlocation}}public/assets/img/strategy/Illustration-3.svg" >
                        </div>
                    </div>
                  
                </div>
                <!--// end row -->
                  <div class="row margin-b-50">
                    <div class="col-sm-6  sm-margin-b-50">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                              <div style="display: flex; justify-content: space-between;">
                            <div ><h2 ><img width="75" height="75" title="Web and Mobile app development, web design, mobile developer" class="img-responsive" alt="Web and Mobile app development, web design, mobile developer" src="{{dirlocation}}public/assets/img/strategy/learning opportunities-2.svg">   </h2></div>
                            <div>
                                 <h3 class="margin-b-10">  The Tega difference</h3>
                            <p class="margin-b-20">With extensive experience developing mobile and web apps for growth-focused startups, Tega is the team you need in your corner as you build your vision.</p>
                            <p class="margin-b-20">Our design, product management and technical capabilities are second-to-none, meaning we can offer you end-to-end support and advice throughout the build and beyond.</p>
                    
                           
                            </div>
                        </div>
                        </div>
                    </div>
                    <div style="" class=" col-sm-5 col-sm-offset-1 sm-margin-b-50 ">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".0s">
                            
                            <img width="640" height="750" title="Web and Mobile app development, web design, mobile developer" class="img-responsive" alt="Web and Mobile app development, web design, mobile developer" src="{{dirlocation}}public/assets/img/strategy/Illustration-1.svg" >
                        </div>
                    </div>
                  
                </div>
                <!--// end row -->
            </div>
        </div>
        <!-- End Features -->

        <!-- About -->
        <div class="bg-color-sky-light">
       <!-- Testimonials -->
        <div class="content-lg container">
            <div class="row">
                <div class="col-sm-9">
                    <h2 class="margin-b-20">Customer Reviews</h2>
                    <p>We've helped countless founders bring their incrdible products to life - but don't just take our word for it. Here's what our clients have to sayabout how we've supercharged their starups..</p>

                    <!-- Swiper Testimonials -->
                    <div class="swiper-slider swiper-testimonials">
                        <!-- Swiper Wrapper -->
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <blockquote class="blockquote">
                                    <div class="margin-b-20">
                                        Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret dolore magna aliqua. Ut enim minim veniam exercitation laboris ut siad consequat siad minim enum esqudiat dolore.
                                    </div>
                                    <div class="margin-b-20">
                                        Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret tempor incididunt dolore magna consequat siad minim aliqua.
                                    </div>
                                    <p><span class="fweight-700 color-link">Joh Milner</span>, Metronic Customer</p>
                                </blockquote>
                            </div>
                            <div class="swiper-slide">
                                <blockquote class="blockquote">
                                    <div class="margin-b-20">
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </div>
                                    <div class="margin-b-20">
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                    <p><span class="fweight-700 color-link">Alex Clarson</span>, Metronic Customer</p>
                                </blockquote>
                            </div>
                        </div>
                        <!-- End Swiper Wrapper -->

                        <!-- Pagination -->
                        <div class="swiper-testimonials-pagination"></div>
                    </div>
                    <!-- End Swiper Testimonials -->
                </div>
            </div>
            <!--// end row -->
        </div>
        <!-- End Testimonials -->
    </div>
               <!-- About -->
        <div class="">
        <div class="content-lg container ">
           

            <div class="row">
                <div class="col-sm-4 sm-margin-b-50 ">
                    <div class="margin-b-30">
                         <h2 class="">MAKING IT HAPPEN</h2>
                        <p>If you have a promising idea and like the of sound becoming a Tega partner, we'd love to hear from you. Simply fill out the application form below and we'll be in touch.</p>
                    </div>
                     <div class="margin-b-30">
                         
                         <div class="margin-b-30">
                           <img class="img-responsive" src="{{dirlocation}}public/assets/img/strategy/Illustration-4.svg" alt="Content Image">  
                         </div>
                          
                        
                        
                    </div>
                
                </div>
                <div class="col-sm-7 col-sm-offset-1 margin-b-30 bg-color-white">
                    
                           <form style="margin: 20px 0" id="send_project" ng-submit="send_project()">
                             <div class="alert alert-info result" style="display: none;"></div>
                            <div class="row">
                                <div class="col-sm-6"><input type="text" name="sender_name" class="form-control footer-input margin-b-20" placeholder="Name" required></div>
                                 <div class="col-sm-6"><input type="email" name="sender_email" class="form-control footer-input margin-b-20" placeholder="Email" required></div>
                            </div>
                             <div class="row">
                                <div class="col-sm-6"><input type="text" name="sender_contact" class="form-control footer-input margin-b-20" placeholder="Phone Number" required></div>
                                 <div class="col-sm-6"><input type="text" name="company_name" class="form-control footer-input margin-b-20" placeholder="Company name (if any)" ></div>
                            </div>
                            <p>What service are you interesting in?</p>
                             <input type="checkbox" name="sender_services[]" class=" margin-b-20" placeholder="Name" value="Web Design">  Web Design
                            <input type="checkbox" name="sender_services[]" class=" margin-b-20" placeholder="Name" value="Web App">  Web App
                            <input type="checkbox" name="sender_services[]" class=" margin-b-20" placeholder="Name" value="Mobile App">  Mobile App
                            <input type="checkbox" name="sender_services[]" class=" margin-b-20" placeholder="Name" value="Strategy">  Strategy
                           <input type="checkbox" name="sender_services[]" class=" margin-b-20" placeholder="Name" value="Hosting">  Hosting
                            <input type="checkbox" name="sender_services[]" class=" margin-b-20" placeholder="Name" value="Ecommerce">  Ecommerce
                           <input type="checkbox" name="sender_services[]" class=" margin-b-20" placeholder="Name" value="Consultancy">  Consultancy
                           <textarea class="form-control footer-input margin-b-30" name="description" rows="6" placeholder="Project Description" required></textarea>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>What is your Timeframe</label>
                                    <select class="form-control " name="timeframe">
                                        <option value="<2 months"><2 months</option>
                                             <option value="2-4 months">2-4 months</option>
                                                 <option value="4 months +">4 months +</option>
                                    </select>
                                </div>
                                   
                                 <div class="col-sm-6">
                                      <label>What is your budget?</label>
                                    <input type="number" name="budget" class="form-control  margin-b-20" placeholder="NGN 1,000,000" required></div>
                            </div>
                             <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" name="referral" class="form-control footer-input margin-b-20" placeholder="How did you hear about us?(Google, Referral e.t.c)"></div>
                                 
                            </div>
                        
                            
                            
                            <button type="submit" class="btn-theme btn-theme-sm btn-base-bg text-uppercase">Submit</button>
                       </form>
                </div>
            </div>
            <!--// end row -->
        </div>
        <!-- End About -->
    </div>
  
        <!-- End About -->

        