 <!--========== PARALLAX ==========-->
 <div >
        <div class="parallaxss" style="background: url({{dirlocation}}public/assets/img/strategy/locate-us.jpg) no-repeat; background-size: cover;
  background-position: bottom;
   min-height: 620px;
   background-attachment: fixed;" data-parallax="scroll">
            <div class="parallax-content container">
                <h3 style="color: white; text-align: center" class="">Get in Touch </h3>
               
            </div>
        </div>
        <!--========== PARALLAX ==========-->

        <!--========== PAGE LAYOUT ==========-->
        <!-- Features -->
        <div class="">
            <div class="content-lg container">
                <div class="row sm-margin-b-50" >
                    <div  class="col-sm-12  bg-color-sky-light   contact-container" >
                      <div class="row">
                          <div class="col-sm-5 sm-margin-b-30 bg-color-light">
                           
                             
                           <form id="contact_form" ng-submit="contact_form()">
                            <div class="alert alert-info result" style="display: none;"></div>
                            <input style="background: #f2f2f2" type="text" name="name" class="form-control bg-color-sky-light  margin-b-5" placeholder="Name" required>
                            <input style="background: #f2f2f2" type="email" name="email" class="form-control footer-input margin-b-5" placeholder="Email" required>
                            <input style="background: #f2f2f2" type="text" name="phone" class="form-control footer-input margin-b-5" placeholder="Phone" required>
                            <textarea style="background: #f2f2f2" name="message" class="form-control footer-input margin-b-20" rows="3" placeholder="Message" required></textarea>
                            <button type="submit" class="btn-theme btn-theme-sm btn-base-bg text-uppercase">Send</button>
                        </form>
                        </div>
                     
                        <div class="col-sm-6 col-sm-offset-1 sm-margin-b-30">
                             <h3 class="">Contact</h3>
                             <p class="">Emomel Plaza warri, Delta State</p>
                            <ul class="list-unstyled footer-list margin-b-20">
                                <li class="footer-list-item margin-b-20">
                                    <a style="display: flex; justify-content: flex-start;" href="#"><span style="font-size: 21px;color: #63cbd7; font-weight: 400"><i style="width: 1.25em" class="fa fa-phone-square" aria-hidden="true"></i></span><span style="padding-left: 5px; align-self: center">+2348149150368</span></a>
                                </li>
                                <li class="footer-list-item margin-b-20">
                                    <a style="display: flex; justify-content: flex-start;" href="#"><span style="font-size: 21px;color: #63cbd7; font-weight: 400"><i style="width: 1.25em" class="fa fa-phone-square" aria-hidden="true"></i></span><span style="padding-left: 5px; align-self: center">+2348149150368</span></a>
                                </li>
                                <li class="footer-list-item margin-b-20">
                                    <a style="display: flex; justify-content: flex-start;" href="#"><span style="font-size: 21px;color: #63cbd7; font-weight: 400"><i style="width: 1.25em" class="fa fa-address-book" aria-hidden="true"></i></span><span style="padding-left: 5px; align-self: center">+2348149150368</span></a>
                                </li>
                                
                            </ul>
                            <div>
                                  <ul class="list-unstyled footer-list" style="display: flex; ">
                                <li class="footer-list-item" style="margin-left: 15px">
                                    <a style="" href="#"><span style="font-size: 21px; background: #63cbd7; color: white; padding: 8px; border-radius: 5px; font-weight: 400"><i style=" padding-left: 4px" class="fab fa-facebook" aria-hidden="true"></i></span></a>
                                </li>
                               
                                 <li class="footer-list-item" style="margin-left: 15px">
                                    <a style="" href="#"><span style="font-size: 21px; background: #63cbd7; color: white; padding: 8px; border-radius: 5px; font-weight: 400"><i style=" padding-left: 4px" class="fab fa-twitter" aria-hidden="true"></i></span></a>
                                </li>
                                <li class="footer-list-item" style="margin-left: 15px">
                                    <a style="" href="#"><span style="font-size: 21px; background: #63cbd7; color: white; padding: 8px; border-radius: 5px; font-weight: 400"><i style=" padding-left: 4px" class="fab fa-instagram" aria-hidden="true"></i></span></a>
                                </li>
                                
                            </ul>
                            </div>
                          
                            <!-- End List -->
                        </div>
                      
                    </div>
                    </div>
              
                  
                </div>
                <!--// end row -->
            </div>
        </div>
        <!-- End Features -->

        