 <!--========== PARALLAX ==========-->

        <div class="parallax" data-parallax="scroll" >
            <div class="parallax-content container">
                <h2 class="carousel-title">Enterprise Solution</h2>
                <p>We design and develop business processes that enhance productivity, security and convenience.</p>
            </div>
        </div>
        <!--========== PARALLAX ==========-->

         <div  data-auto-height="true">

        <!-- About -->
        <div class="content-lg container">
         
                    <div class="row">
                           <div class="col-sm-6 margin-b-50">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                            <h3>Businesses & Processes</h3>
                            <p>Businesses have general, yet unique challenges. We strive in identifying the uniqueness in every business, providing them solutions that meet them at their needs. Different challenges require different approaches to development, designing and deployment. Our strategists work directly with you to define a clear roadmap with budget and deliverables.</p>
                        
                             
                        </div>
                    </div>
                    </div>

                      <div class="row">
                <div class="col-sm-12 margin-b-50">
                         <div class="row  margin-b-2">
                       <div class="col-sm-4 margin-b-20">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                            <div class="service" data-height="height" style="background-color: #63cbd7; ">
                               
                                <div class="service-info" >
                                    <h4 style=" color: white!important">Re - Engineering​</h4>
                                     <h5 style=" color: white!important">Legacy Systems</h5>
                                    <p style=" color: white!important" class="margin-b-5">We customize or re-engineer legacy systems and frameworks to enable technological compatibility for better security, performance and functionality without losing data.  </p>
                                </div>
                                   
                            </div>
                        </div>
                    </div>
                       <div class="col-sm-4 margin-b-20">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                            <div class="service" data-height="height">
                               
                                <div class="service-info">
                                    <h4>Bespoke Processes​</h4>
                                    <h5>Custom Development​</h5>
                                    <p class="margin-b-5">Business processes are ever evolving, business in different niches are faced with unique challenges that in most cases are not solvable with the off-the-shelve Enterprise applications. </p>
                                </div>
                                   
                            </div>
                        </div>
                    </div>
                       <div class="col-sm-4 margin-b-20">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                            <div class="service" data-height="height">
                                
                                <div class="service-info">
                                    <h4>Configuration​</h4>
                                    <h5>Off-The-Shelve​</h5>
                                    <p class="margin-b-5">Generic business solutions solved with technology are mostly licensed and deployed as saas (Software As A Service). We configure & deploy reputable SaaS products.  </p>
                                </div>
                                  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>



        