  <div  style="background: #63cbd7; background-size: cover;
  background-position: top top;
   min-height: 700px;
   background-attachment: fixed;" data-parallax="scroll" >
            <div class="parallax-contentss container" id="ds">
                <h4 class="carousel-titles">Recent <span>projects </h4>
                <p class="margin-b-20 color-white">We have worked on interesting web & mobile app projects with amazing clients. Based on our vast experience in web and mobile development, we help businesses and individuals push their ideas and business to the next level leveraging on proven technologies.</p>
               
                    
                           
                       
            </div>
        </div>

        <!--========== PAGE LAYOUT ==========-->
        <!-- Service -->
        <div class="" data-auto-height="true">
            <div class="content-lg container">
                <div class="row row-space-1 margin-b-2">
                      <div class="col-sm-6  sm-margin-b-50" style="padding: 50px ">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                            <h2 class="margin-b-30">Who we are and why we are awesome</h2>
                            <p >Reimnet is a web & mobile app development company in Nigeria that specializes in delivering innovative & scalable technology solutions for startups and business needs.</p>
                            <a class="btn-theme btn-theme-sm btn-base-bg text-uppercase" href="{{dirlocation}}home/about">About us</a>
                        </div>
                    </div>
                    <div style="" class=" col-sm-5 col-sm-offset-1 sm-margin-b-50 ">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">

                            
                            <img width="567" height="600" title="Web and Mobile app development, web design, mobile developer" class="img-responsive" alt="Web and Mobile app development, web design, mobile developer" src="{{dirlocation}}public/assets/img/strategy/mobile-who-we-are-reimnet.png" srcset="{{dirlocation}}public/assets/img/strategy/mobile-who-we-are-reimnet.png 567w, {{dirlocation}}public/assets/img/strategy/mobile-who-we-are-reimnet-284x300.png 284w" sizes="(max-width: 567px) 100vw, 567px">
                        </div>
                    </div>
                  
                </div>
                </div>
             
            </div>

              <div class="bg-color-sky-light" data-auto-height="true">

        <!-- About -->
        <div class="content-lg container">
            <div class="row margin-b-40 row-space-1">
                <div class="col-sm-8">
                    <h2>Build and deploy with excellence</h2>
                    <p>The Tega team’s diverse skillset allows us to expertly tailor our services to match your needs across strategy, design, and development for web & mobile projects. From full-project engagements to on-demand services, Reimnet helps her clients launch the best projects possible.</p>
                     <a class="btn-theme btn-theme-sm btn-base-bg text-uppercase" href="{{dirlocation}}home/our-process">Our Processes</a>
                </div>
            </div>
            <!--// end row -->

            <div class="row">
                <div class="col-sm-12 sm-margin-b-50">
                         <div class="row  margin-b-2">
                    <div class="col-sm-4 margin-b-40"  >
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                            <div class="service" data-height="height" style="padding: 50px" >
                                <div class="service-element" >
                                    <img width="60" height="60" title="Web and Mobile app development, web design, mobile developer" class=" img-responsive service-icon" alt="Web and Mobile app development, web design, mobile developer" src="{{dirlocation}}public/assets/img/strategy/strategy-2.png">
                                </div>
                                <div class="service-info" >
                                    <h3 >Strategy</h3>
                                    <p s class="margin-b-10">Creation of innovative solutions involves comprehensive research, talking to real customers, and testing prototypes. </p>
                                </div>
                                <a style="padding: 10px 40px 10px 40px; " href="{{dirlocation}}home/strategy" class="btn-theme btn-theme-sm btn-base-bg text-uppercase"><i style=" font-size: 18px; width: 1em; height: 1em" class="fas fa-arrow-right"></i></a>    
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 margin-b-40">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                     <img width="60" height="60" title="Web and Mobile app development, web design, mobile developer" class=" img-responsive service-icon" alt="Web and Mobile app development, web design, mobile developer" src="{{dirlocation}}public/assets/img/strategy/web-design.png">
                                </div>
                                <div class="service-info">
                                    <h3>Web Design</h3>
                                    <p class="margin-b-10">Our website designs support cross-browsers and are adaptive to device and type of interaction, from desktops to touch devices. </p>
                                </div>
                                <a style="padding: 10px 40px 10px 40px; " href="{{dirlocation}}home/web-design" class="btn-theme btn-theme-sm btn-base-bg text-uppercase"><i style=" font-size: 18px; width: 1em; height: 1em" class="fas fa-arrow-right"></i></a>      
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 margin-b-40">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <img width="60" height="60" title="Web and Mobile app development, web design, mobile developer" class=" img-responsive service-icon" alt="Web and Mobile app development, web design, mobile developer" src="{{dirlocation}}public/assets/img/strategy/mobile-app.png">
                                </div>
                                <div class="service-info">
                                    <h3>Mobile App</h3>
                                    <p class="margin-b-10">Mobile development is much more than just an app, it’s more like delivering what a user need at the exact moment​ </p>
                                </div>
                                <a style="padding: 10px 40px 10px 40px; " href="{{dirlocation}}home/mobile-app" class="btn-theme btn-theme-sm btn-base-bg text-uppercase"><i style=" font-size: 18px; width: 1em; height: 1em" class="fas fa-arrow-right"></i></a>  
                                   
                            </div>
                        </div>
                    </div>
                      <div class="col-sm-4 margin-b-40">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                     <img width="60" height="60" title="Web and Mobile app development, web design, mobile developer" class=" img-responsive service-icon" alt="Web and Mobile app development, web design, mobile developer" src="{{dirlocation}}public/assets/img/strategy/custom-development.png">
                                </div>
                                <div class="service-info">
                                    <h3>Web Development</h3>
                                    <p class="margin-b-10">Web development, designed & developed to solve simple or complex business requirements when off-the-shelf apps don’t work. </p>
                                </div>
                                <a style="padding: 10px 40px 10px 40px; " href="{{dirlocation}}home/web-app" class="btn-theme btn-theme-sm btn-base-bg text-uppercase"><i style=" font-size: 18px; width: 1em; height: 1em" class="fas fa-arrow-right"></i></a>     
                            </div>
                        </div>
                    </div>
                          <div class="col-sm-4 margin-b-40">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                     <img width="60" height="60" title="Web and Mobile app development, web design, mobile developer" class=" img-responsive service-icon" alt="Web and Mobile app development, web design, mobile developer" src="{{dirlocation}}public/assets/img/strategy/prototyping.png">
                                </div>
                                <div class="service-info">
                                    <h3>Prototypes & MVP's</h3>
                                    <p class="margin-b-10">We take your product concept to prototypes or proof of concept which will make a great different between vaporware and a viable concept.</p>
                                </div>
                                <a style="padding: 10px 40px 10px 40px; " href="{{dirlocation}}home/prototyping" class="btn-theme btn-theme-sm btn-base-bg text-uppercase"><i style=" font-size: 18px; width: 1em; height: 1em" class="fas fa-arrow-right"></i></a>      
                            </div>
                        </div>
                    </div>
                          <div class="col-sm-4 margin-b-40">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                     <img width="60" height="60" title="Web and Mobile app development, web design, mobile developer" class=" img-responsive service-icon" alt="Web and Mobile app development, web design, mobile developer" src="{{dirlocation}}public/assets/img/strategy/enterprise.png">
                                </div>
                                <div class="service-info">
                                    <h3>Enterprise Solution</h3>
                                    <p class="margin-b-10">Businesses have general, yet unique challenges. We strive in identifying the uniqueness in every business, providing them solutions.</p>
                                </div>
                                <a style="padding: 10px 40px 10px 40px; " href="{{dirlocation}}home/enterprise-solution" class="btn-theme btn-theme-sm btn-base-bg text-uppercase"><i style=" font-size: 18px; width: 1em; height: 1em" class="fas fa-arrow-right"></i></a>   
                            </div>
                        </div>
                    </div>
                </div> 
                       
                </div>
            
            
            </div>
            <!--// end row -->
        </div>
        <!-- End About -->

       </div>
      

        <!-- Latest Products -->
        <div data-auto-height="true">
        <div class="content-lg container">
           

            <div class="row">
                  <div class="col-sm-4 sm-margin-b-50">
                    <h2>Projects we have worked on and delivered</h2>
                    <p>Here are some of the clients Reimnet has had the pleasure to work with</p>
                     <a class="btn-theme btn-theme-sm btn-base-bg text-uppercase" href="{{dirlocation}}home/work">Our Porfolio</a>
                </div>
                <!-- Latest Products -->
                <div class="col-sm-8 sm-margin-b-50" ng-init="fetch_all_project()">
                    <div class="row margin-b-20">
                        <div class="col-sm-6" ng-repeat="project in all_projects"> <div class="work wow fadeInUp" data-wow-duration=".3" data-wow-delay=".5s">
                            <div class="work-overlay">
                                <img width="818" height="900" title="Web and Mobile app development, web design, mobile developer" class="full-width img-responsive" alt="Web and Mobile app development, web design, mobile developer" src="{{dirlocation}}public/assets/images/uploads/projects/{{project.image}}">
                               
                            </div>
                            <div class="work-content">
                                <p class="color-white margin-b-5">{{project.title}}</p>
                                
                            </div>
                            <a class="content-wrapper-link" href="{{dirlocation}}home/project-detail:{{project.id}}">Read More</a>
                        </div></div>
                        
                    </div>
                     
                </div>
                <!-- End Latest Products -->

                <!-- Latest Products -->
              
                <!-- End Latest Products -->

                <!-- End Latest Products -->
            </div>
            <!--// end row -->
        </div>
    </div>
        <!-- End Latest Products -->

      

        <!-- Testimonials -->
        <div class="content-lg container">
            <div class="row">
                <div class="col-sm-9">
                    <h2 class="margin-b-20">Customer Reviews</h2>
                    <p>We've helped countless founders bring their incrdible products to life - but don't just take our word for it. Here's what our clients have to sayabout how we've supercharged their starups..</p>

                    <!-- Swiper Testimonials -->
                    <div class="swiper-slider swiper-testimonials">
                        <!-- Swiper Wrapper -->
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <blockquote class="blockquote">
                                    <div class="margin-b-20">
                                        Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret dolore magna aliqua. Ut enim minim veniam exercitation laboris ut siad consequat siad minim enum esqudiat dolore.
                                    </div>
                                    <div class="margin-b-20">
                                        Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret tempor incididunt dolore magna consequat siad minim aliqua.
                                    </div>
                                    <p><span class="fweight-700 color-link">Joh Milner</span>, Metronic Customer</p>
                                </blockquote>
                            </div>
                            <div class="swiper-slide">
                                <blockquote class="blockquote">
                                    <div class="margin-b-20">
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </div>
                                    <div class="margin-b-20">
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                    <p><span class="fweight-700 color-link">Alex Clarson</span>, Metronic Customer</p>
                                </blockquote>
                            </div>
                        </div>
                        <!-- End Swiper Wrapper -->

                        <!-- Pagination -->
                        <div class="swiper-testimonials-pagination"></div>
                    </div>
                    <!-- End Swiper Testimonials -->
                </div>
            </div>
            <!--// end row -->
        </div>
        <!-- End Testimonials -->
  <div class="" style="background-color: #63cbd7;  ">
            <div class="content-lg container">
                <!-- Swiper Clients -->
                <div class="swiper-slider swiper-clients" >
                    <h2 style="text-align: center; font-size: 24px; color: white">Have an idea? Let’s help transform your next big idea. We’d love to hear from you</h2>
                    <div style="text-align: center;">
                        <a style="padding-right: 20px;  background: white" href="#" class="btn-theme btn-theme-sm   text-uppercase">Start a project</a>
                        <a  href="#" class="btn-theme btn-theme-sm btn-base-bg text-uppercase">Let's talk</a>
                    </div>
                </div>
                <!-- End Swiper Clients -->
            </div>
        </div>
