 <!--========== PARALLAX ==========-->

        <div class="parallaxs" style="background: url({{dirlocation}}public/assets/img/strategy/our-process.jpg) no-repeat; background-size: cover;
  background-position: bottom;
   min-height: 600px;
   background-attachment: fixed;" data-parallax="scroll" >
            <div class="parallax-content container" id="ds">
                <h2 class="carousel-title">Our Process </h2>
                <p class="margin-b-20">We build successful products through strategic planning and innovation, using agile scrum to enable us build, test and deliver projects in bits and on time.</p>
                    <ul class="list-unstyled margin-b-20" style="display: flex; justify-content: space-between;">
                                <li class=""  style="color: white" style="margin: 10px 0px"><a href="{{dirlocation}}home/our-process#ds" class="links" >Phase 1</a><br>Project Discovery And Strategy</li>
                                 <li style="color: white" class="" style="margin: 10px 0px"><a href="{{dirlocation}}home/our-process#pvi" class="links" >Phase 2</a><br>Prototype, Validate & Iterate</li>
                                 <li style="color: white" class="" style="margin: 10px 0px"><a href="{{dirlocation}}home/our-process#pdt" class="links" >Phase 3</a><br>Project Development & Testing</li>
                                 <li style="color: white" class="" style="margin: 10px 0px"><a href="{{dirlocation}}home/our-process#lli" class="links" >Phase 4</a><br>Launch, Learn & Improve</li>
                                 <li style="color: white" class="" style="margin: 10px 0px"><a href="{{dirlocation}}home/our-process#lli" class="links" >Phase 5</a><br>Support</li>
                            
                               
                            </ul>
                           
                       
            </div>
        </div>
        <!--========== PARALLAX ==========-->
   <!-- Latest Products -->
        <div class="content-lg container">
            <div  class="row margin-b-40">
                <div class="col-sm-8">
                    <h2>Project Discovery And Strategy</h2>
                    <p>We gather information on your project to develop a common understanding of the problem you’re setting out to solve, then look at alternative technologies best suitable for use in product development to ensure process and cost effectiveness.</p>
                </div>
            </div>
            <!--// end row -->

            <div class="row margin-b-50">
                <!-- Latest Products -->
                <div class="col-sm-4 sm-margin-b-50">
                    <div class="process ">
                        <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                           <h4>Ideation </h4>
                    <p>Identify and test the efficacy of your product.</p>
                        </div>
                    </div>
                </div>
                <!-- End Latest Products -->
                  <!-- Latest Products -->
                <div class="col-sm-4 sm-margin-b-50" id="pvi">
                    <div class="process ">
                        <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                           <h4>Brainstorming </h4>
                    <p>We work with you to develop strategies that identify 
                      your value proposition, technology stack, and set 
                      goals that determine your success.</p>
                        </div>
                    </div>
                </div>
                <!-- End Latest Products -->
                  <!-- Latest Products -->
                <div class="col-sm-4 sm-margin-b-50">
                    <div class="process ">
                        <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                           <h4>Strategy </h4>
                    <p>Conceptual model, structure and behavior of a
                     system in order to build a visual representation of
                    your product.</p>
                        </div>
                    </div>
                </div>
                <!-- End Latest Products -->

            </div>
            <!--// end row -->
      
            <div class="row margin-b-40">
                <div class="col-sm-8" >
                    <h2>Prototype, Validate & Iterate</h2>
                    <p>To enable useful design and deliver a successful solution, we prototype, validate using testing and research and iterate until we achieve a user-friendly product.</p>
                </div>
            </div>
            <!--// end row -->

            <div class="row margin-b-50">
                <!-- Latest Products -->
                <div class="col-sm-4 sm-margin-b-50">
                    <div class="process ">
                        <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                           <h4>Wireframing</h4>
                    <p>We create interface schematics that outline purpose, flow and provide a blueprint of your product. </p>
                        </div>
                    </div>
                </div>
                <!-- End Latest Products -->
                  <!-- Latest Products -->
                <div class="col-sm-4 sm-margin-b-50" id="pdt">
                    <div class="process ">
                        <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                           <h4>DevOps & Performance </h4>
                    <p>We Deploy, manage and scale applications and also take care of application tuning, caching, background processing, and refactoring to enhance speed and performance. </p>
                        </div>
                    </div>
                </div>
                <!-- End Latest Products -->
                  <!-- Latest Products -->
                <div class="col-sm-4 sm-margin-b-50">
                    <div class="process ">
                        <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                           <h4>Responsive Prototypes </h4>
                    <p>We develop and deliver static or dynamic prototypes to test and validate your solution from real users.</p>
                        </div>
                    </div>
                </div>
                <!-- End Latest Products -->

            </div>
            <!--// end row -->
    

            <div class="row margin-b-40" >
                <div class="col-sm-8">
                    <h2>Project Development & Testing</h2>
                    <p>We pay close attention to building solutions that works, we develop smart, scalable and test-driven products.</p>
                </div>
            </div>
            <!--// end row -->

            <div class="row margin-b-50" >
                <!-- Latest Products -->
                <div class="col-sm-4 sm-margin-b-50">
                    <div class="process ">
                        <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                           <h4>Front-End Web Development </h4>
                    <p>We handle all website development and optimization using (but not limited to): Rails, APIs, and system integrations. </p>
                        </div>
                    </div>
                </div>
                <!-- End Latest Products -->
                  <!-- Latest Products -->
                <div class="col-sm-4 sm-margin-b-50" id="lli">
                    <div class="process ">
                        <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                           <h4>Brainstorming </h4>
                    <p>Identify and test the efficacy of your product. </p>
                        </div>
                    </div>
                </div>
                <!-- End Latest Products -->
                  <!-- Latest Products -->
                <div class="col-sm-4 sm-margin-b-50">
                    <div class="process ">
                        <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                           <h4>Back-end Development </h4>
                    <p>We specialise in Full-stack web development using Rails, APIs, system integrations and many more. </p>
                        </div>
                    </div>
                </div>
                <!-- End Latest Products -->
            </div>
            <div class="row margin-b-40" >
                <div class="col-sm-8">
                    <h2>Launch, Learn & Improve</h2>
                    <p>Ship It! Your final product is developed from what has been designed; with careful attention given to making it scalable, fully tested, and integrated with all of your business operations.</p>
                </div>
            </div>
            <!--// end row -->
             <div class="row margin-b-40" >
                <div class="col-sm-8">
                    <h2>Support</h2>
                    <p>After the public launch of your new software, things are far from over. Next comes the general support and maintenance of the software to ensure that it remains bug-free and operational. Depend on built-in analytics and end-user feedback to best suppport the functionality and value of our software through :</p>
                     <ul class="list-unstyled margin-b-20">
                                <li class="" style="margin: 10px 0px"><a class="links" >Feature improvement</a></li>
                                <li class="" style="margin: 10px 0px"><a class="links" >Feature Additions</a></li>
                                <li class="footer-list-item" style="margin: 10px 0px"><a class="links" >Application Production Support</a></li>
                                 <li class="footer-list-item" style="margin:: 10px 0px"><a class="links" >Application Management</a></li>
                               
                            </ul>
                       <p>Great Software can change the world, and we intend to make sure that your software is innovative, actionable and fully supported throughout its lifecycle.</p>     
                </div>
            </div>
            <!--// end row -->

        </div>
        <!-- End Latest Products -->
           <div class="" style="background-color: #63cbd7;  ">
            <div class="content-lg container">
                <!-- Swiper Clients -->
                <div class="swiper-slider swiper-clients" >
                    <h2 style="text-align: center; font-size: 24px; color: white">Ready yo take Your idea to the Next Level?</h2>
                    <div style="text-align: center;">
                        <a style="padding-right: 20px;  background: white" href="#" class="btn-theme btn-theme-sm   text-uppercase">Start a project</a>
                        <a  href="#" class="btn-theme btn-theme-sm btn-base-bg text-uppercase">Let's talk</a>
                    </div>
                </div>
                <!-- End Swiper Clients -->
            </div>
        </div>

           <!-- Features -->
        <div class="section-seperator bg-color-sky-light">
            <div class="content-lg container">
                <h2 class="margin-b-20">Our Services</h2>
                <div class="row margin-b-50">
                <div class="col-sm-12 sm-margin-b-50">
                         <div class="row  margin-b-2">
                    <div class="col-sm-4 margin-b-20"  >
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                            <div class="service" data-height="height"  >
                                <div class="service-element" >
                                    <img width="60" height="60" title="Web and Mobile app development, web design, mobile developer" class=" img-responsive service-icon" alt="Web and Mobile app development, web design, mobile developer" src="{{dirlocation}}public/assets/img/strategy/strategy-2.png">
                                </div>
                                <div class="service-info" >
                                    <h3 >Strategy</h3>
                                    <p s class="margin-b-10">Creation of innovative solutions involves comprehensive research, talking to real customers, and testing prototypes. </p>
                                </div>
                                <a style="padding: 10px 40px 10px 40px; " href="{{dirlocation}}home/strategy" class="btn-theme btn-theme-sm btn-base-bg text-uppercase"><i style=" font-size: 18px; width: 1em; height: 1em" class="fas fa-arrow-right"></i></a>    
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 margin-b-20">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                     <img width="60" height="60" title="Web and Mobile app development, web design, mobile developer" class=" img-responsive service-icon" alt="Web and Mobile app development, web design, mobile developer" src="{{dirlocation}}public/assets/img/strategy/web-design.png">
                                </div>
                                <div class="service-info">
                                    <h3>Web Design</h3>
                                    <p class="margin-b-10">Our website designs support cross-browsers and are adaptive to device and type of interaction, from desktops to touch devices. </p>
                                </div>
                                <a style="padding: 10px 40px 10px 40px; " href="{{dirlocation}}home/web-design" class="btn-theme btn-theme-sm btn-base-bg text-uppercase"><i style=" font-size: 18px; width: 1em; height: 1em" class="fas fa-arrow-right"></i></a>      
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 margin-b-20">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <img width="60" height="60" title="Web and Mobile app development, web design, mobile developer" class=" img-responsive service-icon" alt="Web and Mobile app development, web design, mobile developer" src="{{dirlocation}}public/assets/img/strategy/mobile-app.png">
                                </div>
                                <div class="service-info">
                                    <h3>Mobile App</h3>
                                    <p class="margin-b-10">Mobile development is much more than just an app, it’s more like delivering what a user need at the exact moment​ </p>
                                </div>
                                <a style="padding: 10px 40px 10px 40px; " href="{{dirlocation}}home/mobile-app" class="btn-theme btn-theme-sm btn-base-bg text-uppercase"><i style=" font-size: 18px; width: 1em; height: 1em" class="fas fa-arrow-right"></i></a>  
                                   
                            </div>
                        </div>
                    </div>
                      <div class="col-sm-4 margin-b-20">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                     <img width="60" height="60" title="Web and Mobile app development, web design, mobile developer" class=" img-responsive service-icon" alt="Web and Mobile app development, web design, mobile developer" src="{{dirlocation}}public/assets/img/strategy/custom-development.png">
                                </div>
                                <div class="service-info">
                                    <h3>Web Development</h3>
                                    <p class="margin-b-10">Web development, designed & developed to solve simple or complex business requirements when off-the-shelf apps don’t work. </p>
                                </div>
                                <a style="padding: 10px 40px 10px 40px; " href="{{dirlocation}}home/web-app" class="btn-theme btn-theme-sm btn-base-bg text-uppercase"><i style=" font-size: 18px; width: 1em; height: 1em" class="fas fa-arrow-right"></i></a>     
                            </div>
                        </div>
                    </div>
                          <div class="col-sm-4 margin-b-20">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                     <img width="60" height="60" title="Web and Mobile app development, web design, mobile developer" class=" img-responsive service-icon" alt="Web and Mobile app development, web design, mobile developer" src="{{dirlocation}}public/assets/img/strategy/prototyping.png">
                                </div>
                                <div class="service-info">
                                    <h3>Prototypes & MVP's</h3>
                                    <p class="margin-b-10">We take your product concept to prototypes or proof of concept which will make a great different between vaporware and a viable concept.</p>
                                </div>
                                <a style="padding: 10px 40px 10px 40px; " href="{{dirlocation}}home/prototyping" class="btn-theme btn-theme-sm btn-base-bg text-uppercase"><i style=" font-size: 18px; width: 1em; height: 1em" class="fas fa-arrow-right"></i></a>      
                            </div>
                        </div>
                    </div>
                          <div class="col-sm-4 margin-b-20">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                     <img width="60" height="60" title="Web and Mobile app development, web design, mobile developer" class=" img-responsive service-icon" alt="Web and Mobile app development, web design, mobile developer" src="{{dirlocation}}public/assets/img/strategy/enterprise.png">
                                </div>
                                <div class="service-info">
                                    <h3>Enterprise Solution</h3>
                                    <p class="margin-b-10">Businesses have general, yet unique challenges. We strive in identifying the uniqueness in every business, providing them solutions.</p>
                                </div>
                                <a style="padding: 10px 40px 10px 40px; " href="{{dirlocation}}home/enterprise-solution" class="btn-theme btn-theme-sm btn-base-bg text-uppercase"><i style=" font-size: 18px; width: 1em; height: 1em" class="fas fa-arrow-right"></i></a>   
                            </div>
                        </div>
                    </div>
                </div> 
                       
                </div>
            
            
            </div>
            <!--// end row -->
                
            </div>
        </div>
        <!-- End Features -->
   