 <!--========== PARALLAX ==========-->

        <div class="parallax" data-parallax="scroll" >
            <div class="parallax-content container">
                <h2 class="carousel-title">User Friendly Design</h2>
                <p>We have experience in solving problems for users through design thinking methodologies</p>
            </div>
        </div>
        <!--========== PARALLAX ==========-->

         <div  data-auto-height="true">

        <!-- About -->
        <div class="content-lg container">
            <div class="row">
              

                     <div class="col-sm-6 margin-b-50">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                            <h3>Prototyping</h3>
                            <p>We take your product concept to prototypes or proof of concept which will make a great different between vaporware and a viable concept. We achieve this through the following</p>
                        
                            <ul class="list-unstyled margin-b-20">
                                <li class="" style="margin: 10px 0px"><a class="links" >Wireframe</a></li>
                                <li class="" style="margin: 10px 0px"><a class="links" >Use-Case / Persona Development</a></li>
                                <li class="footer-list-item" style="margin: 10px 0px"><a class="links" >Interactive Prototypes</a></li>
                                 
                               
                            </ul> 
                        </div>
                    </div>
                </div>
                    <div class="row">
                           <div class="col-sm-6 margin-b-50">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                            <h3>Minimum Viable Product (MVP)</h3>
                            <p>A first step to the market for your product is testing the usability of the unique valuable proposition of the product. We validate your ideas and prototype with development of MVPs to minimize risk of failure.</p>
                        
                             
                        </div>
                    </div>
                    </div>

                      <div class="row">
                <div class="col-sm-12 margin-b-50">
                         <div class="row  margin-b-2">
                       <div class="col-sm-4 margin-b-20">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                            <div class="service" data-height="height" style="background-color: #63cbd7; ">
                               
                                <div class="service-info" >
                                    <h3 style=" color: white!important">Select Features</h3>
                                    <p style=" color: white!important" class="margin-b-5">We prioritize the minimal features to be developed, while maintaining the value offering of the product. </p>
                                </div>
                                   
                            </div>
                        </div>
                    </div>
                       <div class="col-sm-4 margin-b-20">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                            <div class="service" data-height="height">
                               
                                <div class="service-info">
                                    <h5>Prototyping</h5>
                                    <p class="margin-b-5">We take your product concept to prototypes or proof of concept. Wireframe, use-case & interactive Prototype</p>
                                </div>
                                   
                            </div>
                        </div>
                    </div>
                       <div class="col-sm-4 margin-b-20">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                            <div class="service" data-height="height">
                                
                                <div class="service-info">
                                    <h5>Functional Demo</h5>
                                    <p class="margin-b-5">At this point, the product is ready for the market with selected features. Feedback from the market will determine the iteration. </p>
                                </div>
                                <a href="#" class="content-wrapper-link"></a>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>



        