 <!--========== PARALLAX ==========-->

        <div class="parallax" data-parallax="scroll" >
            <div class="parallax-content container">
                <h1 class="carousel-title">Services</h1>
                <p>The Reimnet team’s diverse skillset allows us to expertly tailor our services to match your needs across strategy, design, and development for web & mobile projects. From full-project engagements to on-demand services, Reimnet helps her clients launch the best projects possible.</p>
            </div>
        </div>
        <!--========== PARALLAX ==========-->

         <div  data-auto-height="true">

        <!-- About -->
        <div class="content-lg container">
            <div class="row margin-b-20 row-space-1">
                <div class="col-sm-6">
                    <h4>We provide a robust set of services built around the lean, agile methodology.</h4>
                </div>
            </div>
            <!--// end row -->

            <div class="row">
                <div class="col-sm-12 sm-margin-b-50">
                         <div class="row  margin-b-2">
                    <div class="col-sm-4 margin-b-20"  >
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                            <div class="service" data-height="height"  >
                                <div class="service-element" >
                                    <img width="60" height="60" title="Web and Mobile app development, web design, mobile developer" class=" img-responsive service-icon" alt="Web and Mobile app development, web design, mobile developer" src="{{dirlocation}}public/assets/img/strategy/strategy-2.png">
                                </div>
                                <div class="service-info" >
                                    <h3 >Strategy</h3>
                                    <p s class="margin-b-10">Creation of innovative solutions involves comprehensive research, talking to real customers, and testing prototypes. </p>
                                </div>
                                <a style="padding: 10px 40px 10px 40px; " href="{{dirlocation}}home/strategy" class="btn-theme btn-theme-sm btn-base-bg text-uppercase"><i style=" font-size: 18px; width: 1em; height: 1em" class="fas fa-arrow-right"></i></a>    
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 margin-b-20">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                     <img width="60" height="60" title="Web and Mobile app development, web design, mobile developer" class=" img-responsive service-icon" alt="Web and Mobile app development, web design, mobile developer" src="{{dirlocation}}public/assets/img/strategy/web-design.png">
                                </div>
                                <div class="service-info">
                                    <h3>Web Design</h3>
                                    <p class="margin-b-10">Our website designs support cross-browsers and are adaptive to device and type of interaction, from desktops to touch devices. </p>
                                </div>
                                <a style="padding: 10px 40px 10px 40px; " href="{{dirlocation}}home/web-design" class="btn-theme btn-theme-sm btn-base-bg text-uppercase"><i style=" font-size: 18px; width: 1em; height: 1em" class="fas fa-arrow-right"></i></a>      
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 margin-b-20">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <img width="60" height="60" title="Web and Mobile app development, web design, mobile developer" class=" img-responsive service-icon" alt="Web and Mobile app development, web design, mobile developer" src="{{dirlocation}}public/assets/img/strategy/mobile-app.png">
                                </div>
                                <div class="service-info">
                                    <h3>Mobile App</h3>
                                    <p class="margin-b-10">Mobile development is much more than just an app, it’s more like delivering what a user need at the exact moment​ </p>
                                </div>
                                <a style="padding: 10px 40px 10px 40px; " href="{{dirlocation}}home/mobile-app" class="btn-theme btn-theme-sm btn-base-bg text-uppercase"><i style=" font-size: 18px; width: 1em; height: 1em" class="fas fa-arrow-right"></i></a>  
                                   
                            </div>
                        </div>
                    </div>
                      <div class="col-sm-4 margin-b-20">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                     <img width="60" height="60" title="Web and Mobile app development, web design, mobile developer" class=" img-responsive service-icon" alt="Web and Mobile app development, web design, mobile developer" src="{{dirlocation}}public/assets/img/strategy/custom-development.png">
                                </div>
                                <div class="service-info">
                                    <h3>Web Development</h3>
                                    <p class="margin-b-10">Web development, designed & developed to solve simple or complex business requirements when off-the-shelf apps don’t work. </p>
                                </div>
                                <a style="padding: 10px 40px 10px 40px; " href="{{dirlocation}}home/web-app" class="btn-theme btn-theme-sm btn-base-bg text-uppercase"><i style=" font-size: 18px; width: 1em; height: 1em" class="fas fa-arrow-right"></i></a>     
                            </div>
                        </div>
                    </div>
                          <div class="col-sm-4 margin-b-20">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                     <img width="60" height="60" title="Web and Mobile app development, web design, mobile developer" class=" img-responsive service-icon" alt="Web and Mobile app development, web design, mobile developer" src="{{dirlocation}}public/assets/img/strategy/prototyping.png">
                                </div>
                                <div class="service-info">
                                    <h3>Prototypes & MVP's</h3>
                                    <p class="margin-b-10">We take your product concept to prototypes or proof of concept which will make a great different between vaporware and a viable concept.</p>
                                </div>
                                <a style="padding: 10px 40px 10px 40px; " href="{{dirlocation}}home/prototyping" class="btn-theme btn-theme-sm btn-base-bg text-uppercase"><i style=" font-size: 18px; width: 1em; height: 1em" class="fas fa-arrow-right"></i></a>      
                            </div>
                        </div>
                    </div>
                          <div class="col-sm-4 margin-b-20">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                     <img width="60" height="60" title="Web and Mobile app development, web design, mobile developer" class=" img-responsive service-icon" alt="Web and Mobile app development, web design, mobile developer" src="{{dirlocation}}public/assets/img/strategy/enterprise.png">
                                </div>
                                <div class="service-info">
                                    <h3>Enterprise Solution</h3>
                                    <p class="margin-b-10">Businesses have general, yet unique challenges. We strive in identifying the uniqueness in every business, providing them solutions.</p>
                                </div>
                                <a style="padding: 10px 40px 10px 40px; " href="{{dirlocation}}home/enterprise-solution" class="btn-theme btn-theme-sm btn-base-bg text-uppercase"><i style=" font-size: 18px; width: 1em; height: 1em" class="fas fa-arrow-right"></i></a>   
                            </div>
                        </div>
                    </div>
                </div> 
                       
                </div>
            
            
            </div>
            <!--// end row -->
        </div>
        <!-- End About -->

       </div>

           <!-- Features -->
        <div class="section-seperator bg-color-sky-light">
            <div class="content-lg container">
                <div class="row margin-b-50">
                    <div class="col-sm-6 sm-margin-b-50">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                            <h3>Need help to nail a critical deadline or deliver a product?</h3>
                            <p>We can be of great value to your team with cutting-edge skills and teams at the right time with the right scale. We build successful products through strategic planning and innovation using agile scrum to enable us to build, test and deliver projects in bits and on time.</p>
                        
                            <ul class="list-unstyled margin-b-20">
                                <li class="" style="margin: 10px 0px"><a class="links" >Project Discovery And Strategy</a></li>
                                <li class="" style="margin: 10px 0px"><a class="links" >Prototype, Validate & Iterate</a></li>
                                <li class="footer-list-item" style="margin: 10px 0px"><a class="links" >Project Development & Testing</a></li>
                                 <li class="footer-list-item" style="margin:: 10px 0px"><a class="links" >Launch, Learn & Improve</a></li>
                               
                            </ul>
                            <a style="padding: 10px 40px 10px 40px; " href="{{dirlocation}}home/our-process" class="btn-theme btn-theme-sm btn-base-bg text-uppercase">Our process<i style=" font-size: 18px; width: 1em; height: 1em" class="fas fa-arrow-right"></i></a>  
                        </div>
                    </div>
                    <div class="col-sm-6 sm-margin-b-50">
                          <!-- Masonry Grid -->
                <div class="masonry-grid">
                    <div class="masonry-grid-sizer col-xs-6 col-sm-6 col-md-1"></div>
                    <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4">
                        <!-- Work -->
                        <div class="" data-wow-duration=".3" data-wow-delay=".1s">
                            <div class="work-overlay">
                               <img class=" img-responsive" title="Web and Mobile app development, web design, mobile developer" alt="stark1@2x" src="{{dirlocation}}public/assets/img/services/stark1%402x.png">
                            </div>
                            
                        </div>
                        <!-- End Work -->
                    </div>
                    <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                        <!-- Work -->
                        <div class="work wow fadeInUp" data-wow-duration=".3" data-wow-delay=".2s">
                            <div class="work-overlay">
                                <img class=" img-responsive" title="Web and Mobile app development, web design, mobile developer" alt="stark1@2x" src="{{dirlocation}}public/assets/img/services/stark2%402x.png">
                            </div>
                        </div>
                        <!-- End Work -->
                    </div>
                    <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                        <!-- Work -->
                        <div class="work wow fadeInUp" data-wow-duration=".3" data-wow-delay=".3s">
                            <div class="work-overlay">
                               <img class=" img-responsive" title="Web and Mobile app development, web design, mobile developer" alt="stark1@2x" src="{{dirlocation}}public/assets/img/services/stark3%402x.png">
                            </div>
                           
                        </div>
                        <!-- End Work -->
                    </div>
                    <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                        <!-- Work -->
                        <div class="work wow fadeInUp" data-wow-duration=".3" data-wow-delay=".4s">
                            <div class="work-overlay">
                               <img class=" img-responsive" title="Web and Mobile app development, web design, mobile developer" alt="stark1@2x" src="{{dirlocation}}public/assets/img/services/stark5%402x.png">
                            </div>
                        
                        </div>
                        <!-- End Work -->
                    </div>
                    <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                        <!-- Work -->
                        <div class="work wow fadeInUp" data-wow-duration=".3" data-wow-delay=".5s">
                            <div class="work-overlay">
                              <img class=" img-responsive" title="Web and Mobile app development, web design, mobile developer" alt="stark1@2x" src="{{dirlocation}}public/assets/img/services/stark6%402x.png">
                            </div>
                          
                        </div>
                        <!-- End Work -->
                    </div>
                      <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                        <!-- Work -->
                        <div class="work wow fadeInUp" data-wow-duration=".3" data-wow-delay=".6s">
                            <div class="work-overlay">
                              <img class=" img-responsive" title="Web and Mobile app development, web design, mobile developer" alt="stark1@2x" src="{{dirlocation}}public/assets/img/services/stark13%402x.png">
                            </div>
                          
                        </div>
                        <!-- End Work -->
                    </div>
                      <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                        <!-- Work -->
                        <div class="work wow fadeInUp" data-wow-duration=".3" data-wow-delay=".7s">
                            <div class="work-overlay">
                              <img class=" img-responsive" title="Web and Mobile app development, web design, mobile developer" alt="stark1@2x" src="{{dirlocation}}public/assets/img/services/stark11%402x.png">
                            </div>
                          
                        </div>
                        <!-- End Work -->
                    </div>
                      <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-3">
                        <!-- Work -->
                        <div class="work wow fadeInUp" data-wow-duration=".3" data-wow-delay=".8s">
                            <div class="work-overlay">
                              <img class=" img-responsive" title="Web and Mobile app development, web design, mobile developer" alt="stark1@2x" src="{{dirlocation}}public/assets/img/services/stark%4041x.png">
                            </div>
                          
                        </div>
                        <!-- End Work -->
                    </div>
                    
                       <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-3">
                        <!-- Work -->
                        <div class="work wow fadeInUp" data-wow-duration=".3" data-wow-delay=".8s">
                            <div class="work-overlay">
                              <img class=" img-responsive" title="Web and Mobile app development, web design, mobile developer" alt="stark1@2x" src="{{dirlocation}}public/assets/img/services/stark12%402x.png">
                            </div>
                          
                        </div>
                        <!-- End Work -->
                    </div>
                </div>
                <!-- End Masonry Grid -->
                    </div>
                </div>
                <!--// end row -->
                  <div class="row">
                    <div class="col-sm-6 sm-margin-b-50">
                        <div style="padding: 0px 40px" class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                            <h4>Skills</h4>
                            <p>Personal development is high in our culture to ensure we are skilled and current for anything you need to build regardless of the technology.</p>
                        
                              
                        </div>
                    </div>
                       <div class="col-sm-6 sm-margin-b-50">
                        <div style="padding: 0px 40px" class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                            <h4>Teams</h4>
                            <p>Our teams are both specialized and cross-functional, ranging from designers, engineers, and product experts that are assigned to each project. </p>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Features -->
   