 <!--========== PARALLAX ==========-->

        <div class="parallax" data-parallax="scroll" >
            <div class="parallax-content container">
                <h1 class="carousel-title">Strategy</h1>
                <p>Creation of innovative solutions involves comprehensive research, talking to real customers, and testing prototypes. It all begins with your idea. Following best practices, we help you gain insight into the people, the market and the growth you need to have a successful product.</p>
            </div>
        </div>
        <!--========== PARALLAX ==========-->

         <div  data-auto-height="true">

        <!-- About -->
        <div class="content-lg container">
            <div class="row margin-b-20 row-space-1">
                <div class="col-sm-6">
                    <h2>Our Process</h2>
                </div>
            </div>
            <!--// end row -->

            <div class="row">
                <div class="col-sm-8 sm-margin-b-50">
                         <div class="row  margin-b-2">
                    <div class="col-sm-6 margin-b-20"  >
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                            <div class="service" data-height="height" style="background-color: #63cbd7; ">
                                <div class="service-element" >
                                    <img width="60" height="60" title="Web and Mobile app development, web design, mobile developer" class=" img-responsive service-icon" alt="Web and Mobile app development, web design, mobile developer" src="{{dirlocation}}public/assets/img/strategy/creative-design-2.png">
                                </div>
                                <div class="service-info" >
                                    <h3 style=" color: white!important">Idea Validation</h3>
                                    <p style=" color: white!important" class="margin-b-5">In our Ideation Workshops, we devise a solid Innovation Strategy that lays the foundation for your idea.</p>
                                </div>
                                <a href="#" class="content-wrapper-link"></a>    
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 margin-b-20">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                     <img width="60" height="60" title="Web and Mobile app development, web design, mobile developer" class=" img-responsive service-icon" alt="Web and Mobile app development, web design, mobile developer" src="{{dirlocation}}public/assets/img/strategy/data-2.png">
                                </div>
                                <div class="service-info">
                                    <h3>User Personas</h3>
                                    <p class="margin-b-5">We create realistic user archetype that represents the key traits of a large segment of your audience.</p>
                                </div>
                                <a href="#" class="content-wrapper-link"></a>    
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <img width="60" height="60" title="Web and Mobile app development, web design, mobile developer" class=" img-responsive service-icon" alt="Web and Mobile app development, web design, mobile developer" src="{{dirlocation}}public/assets/img/strategy/market-2.png">
                                </div>
                                <div class="service-info">
                                    <h3>Market Research</h3>
                                    <p class="margin-b-5">We conduct market research to gather data about target market, and identify opportunities.</p>
                                </div>
                                <a href="#" class="content-wrapper-link"></a>    
                            </div>
                        </div>
                    </div>
                      <div class="col-sm-6">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                     <img width="60" height="60" title="Web and Mobile app development, web design, mobile developer" class=" img-responsive service-icon" alt="Web and Mobile app development, web design, mobile developer" src="{{dirlocation}}public/assets/img/strategy/competition-2.png">
                                </div>
                                <div class="service-info">
                                    <h3>Competitor Analysis</h3>
                                    <p class="margin-b-5">We thoroughly analyse the competition to understand how your idea fits in the marketplace</p>
                                </div>
                                <a href="#" class="content-wrapper-link"></a>    
                            </div>
                        </div>
                    </div>
                </div> 
                       
                </div>
            
                <div class="col-sm-3 col-sm-offset-1">
                    <img class="img-responsive" src="{{dirlocation}}public/assets/img/strategy/humaaans-4-right.png" alt="Our Office">
                </div>
            </div>
            <!--// end row -->
        </div>
        <!-- End About -->

       </div>
