 <!--========== PARALLAX ==========-->

        <div class="parallax" data-parallax="scroll" >
            <div class="parallax-content container">
                <h2 class="carousel-title">Website Design</h2>
                <p>Website design is a fast-evolving digital marketing tool that always requires a diverse skillset. We design powerful websites and interfaces that drive engagement, increase conversion rates, and delight the users while thoughtful in delivery.</p>
            </div>
        </div>
        <!--========== PARALLAX ==========-->

         <div  data-auto-height="true">

        <!-- About -->
        <div class="content-lg container">
            <div class="row">
                <div class="col-sm-12 sm-margin-b-50">
                       <div class="row margin-b-50">
                    <div class="col-sm-6 sm-margin-b-50">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                            <h3>How we design websites at Reimnet</h3>
                            <p>We design a website observing industry-standards procedure yet an outstanding website, starting from the choice of technology, to information architecture, and client’s industry-specific rules both on SEO and branding.</p>
                        
                            
                            <a style="padding: 10px 40px 10px 40px; " href="{{dirlocation}}home/our-process" class="btn-theme btn-theme-sm btn-base-bg text-uppercase">Our process</a>  
                        </div>
                    </div>
                    <div class="col-sm-6 sm-margin-b-50">
                      <img class="img-responsive" src="{{dirlocation}}public/assets/img/strategy/humaaans-4-right.png" alt="Web and Mobile app development, web design, mobile developer" title="Web and Mobile app development, web design, mobile developer">
                    </div>
                </div> 
                       
                </div>

                     <div class="col-sm-8 margin-b-50">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                            <h3>Every business has different needs and reasons for designing a website, from the Informative website to a marketing website.</h3>
                            <p>Getting a website for a blog has a different approach from getting a website for a fashion business, knowing where each skill is required and used is what makes our websites stand out. When engaging us for a website project, be sure to expect the following: </p>
                        
                            <ul class="list-unstyled margin-b-20">
                                <li class="" style="margin: 10px 0px"><a class="links" >Content Management System (CMS)</a></li>
                                <li class="" style="margin: 10px 0px"><a class="links" >Proper Brand representation (Graphics)</a></li>
                                <li class="footer-list-item" style="margin: 10px 0px"><a class="links" >Search Engine Optimization</a></li>
                                 <li class="footer-list-item" style="margin:: 10px 0px"><a class="links" >Integration</a></li>
                                 <li class="footer-list-item" style="margin:: 10px 0px"><a class="links" >Analytics</a></li>
                               
                            </ul>
                            <a style="padding: 10px 40px 10px 40px; " href="{{dirlocation}}home/start-a-project" class="btn-theme btn-theme-sm btn-base-bg text-uppercase">Start a project</a>  
                        </div>
                    </div>

                      <div class="row">
                <div class="col-sm-12 margin-b-50">
                         <div class="row  margin-b-2">
                       <div class="col-sm-4 margin-b-20">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                     <img width="60" height="60" title="Web and Mobile app development, web design, mobile developer" class=" img-responsive service-icon" alt="Web and Mobile app development, web design, mobile developer" src="{{dirlocation}}public/assets/img/strategy/data-2.png">
                                </div>
                                <div class="service-info">
                                    <h5>Search Engine Optimization​</h5>
                                    <p class="margin-b-5">Our websites are optimized for search engines to increase your opportunity to be reached by your target audience easily.</p>
                                </div>
                                    
                            </div>
                        </div>
                    </div>
                       <div class="col-sm-4 margin-b-20">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                     <img width="60" height="60" title="Web and Mobile app development, web design, mobile developer" class=" img-responsive service-icon" alt="Web and Mobile app development, web design, mobile developer" src="{{dirlocation}}public/assets/img/strategy/data-2.png">
                                </div>
                                <div class="service-info">
                                    <h5>CMS</h5>
                                    <p class="margin-b-5">Our websites are built on robust and user-friendly content management systems customized for your needs and business goals.</p>
                                </div>
                                <a href="#" class="content-wrapper-link"></a>    
                            </div>
                        </div>
                    </div>
                       <div class="col-sm-4 margin-b-20">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                     <img width="60" height="60" title="Web and Mobile app development, web design, mobile developer" class=" img-responsive service-icon" alt="Web and Mobile app development, web design, mobile developer" src="{{dirlocation}}public/assets/img/strategy/data-2.png">
                                </div>
                                <div class="service-info">
                                    <h5>Analytics</h5>
                                    <p class="margin-b-5">Our websites are integrated with analytics tools to understand the performance of every user across different devices (Mobile & Web). </p>
                                </div>
                                <a href="#" class="content-wrapper-link"></a>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-sm-6 margin-b-50">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                            <h4>Different types of website we have worked and delivered websites</h4>
                           
                             <div class="row">
                                 <div class="col-sm-6">
                                     <ul class="list-unstyled margin-b-20">
                                <li class="" style="margin: 10px 0px"><a class="links" >eCommerce website</a></li>
                                <li class="" style="margin: 10px 0px"><a class="links" >Corporate website</a></li>
                                <li class="footer-list-item" style="margin: 10px 0px"><a class="links" >Blogs</a></li>
                                 <li class="footer-list-item" style="margin:: 10px 0px"><a class="links" >Marketing & sales website</a></li>
                        
                               
                            </ul>
                                 </div>
                                  <div class="col-sm-6">
                                      <ul class="list-unstyled margin-b-20">
                                <li class="" style="margin: 10px 0px"><a class="links" >Website for Resturant</a></li>
                                <li class="" style="margin: 10px 0px"><a class="links" >Website for real estate</a></li>
                                <li class="footer-list-item" style="margin: 10px 0px"><a class="links" >Website for finance </a></li>
                                 <li class="footer-list-item" style="margin:: 10px 0px"><a class="links" >Website for Health</a></li>
                                 
                               
                            </ul>
                                  </div>
                             </div> 
                        </div>
                    </div>
        </div>

         <div class="row margin-b-50">
                    <div class="col-sm-6 sm-margin-b-50">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                            <h4>Technologies and website design tool kits</h4>
                            <p>Our websites are designed with many technologies put together to deliver a stunning website, optimized for speed, huge traffic & responsive for mobile and web browsers.</p>
                          <div class="row">
                                 <div class="col-sm-6">
                                     <ul class="list-unstyled margin-b-20">
                                <li class="" style="margin: 10px 0px"><a class="links" >HTML5</a></li>
                                <li class="" style="margin: 10px 0px"><a class="links" >CSS3</a></li>
                                <li class="footer-list-item" style="margin: 10px 0px"><a class="links" >Javascript</a></li>
                                 <li class="footer-list-item" style="margin:: 10px 0px"><a class="links" >PHP</a></li>
                        
                               
                            </ul>
                                 </div>
                                  <div class="col-sm-6">
                                      <ul class="list-unstyled margin-b-20">
                                <li class="" style="margin: 10px 0px"><a class="links" >Angular</a></li>
                                <li class="" style="margin: 10px 0px"><a class="links" >React Native</a></li>
                                <li class="footer-list-item" style="margin: 10px 0px"><a class="links" >Laravel</a></li>
                                 <li class="footer-list-item" style="margin:: 10px 0px"><a class="links" >MYSQLI</a></li>
                                 
                               
                            </ul>
                                  </div>
                             </div> 
                        </div>
                    </div>
                    <div class="col-sm-6 sm-margin-b-50">
                          <!-- Masonry Grid -->
                <div class="masonry-grid">
                    <div class="masonry-grid-sizer col-xs-6 col-sm-6 col-md-1"></div>
                    <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4">
                        <!-- Work -->
                        <div class="" data-wow-duration=".3" data-wow-delay=".1s">
                            <div class="work-overlay">
                               <img class=" img-responsive" title="Web and Mobile app development, web design, mobile developer" alt="stark1@2x" src="{{dirlocation}}public/assets/img/services/stark1%402x.png">
                            </div>
                            
                        </div>
                        <!-- End Work -->
                    </div>
                    <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                        <!-- Work -->
                        <div class="work wow fadeInUp" data-wow-duration=".3" data-wow-delay=".2s">
                            <div class="work-overlay">
                                <img class=" img-responsive" title="Web and Mobile app development, web design, mobile developer" alt="stark1@2x" src="{{dirlocation}}public/assets/img/services/stark2%402x.png">
                            </div>
                        </div>
                        <!-- End Work -->
                    </div>
                    <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                        <!-- Work -->
                        <div class="work wow fadeInUp" data-wow-duration=".3" data-wow-delay=".3s">
                            <div class="work-overlay">
                               <img class=" img-responsive" title="Web and Mobile app development, web design, mobile developer" alt="stark1@2x" src="{{dirlocation}}public/assets/img/services/stark3%402x.png">
                            </div>
                           
                        </div>
                        <!-- End Work -->
                    </div>
                    <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                        <!-- Work -->
                        <div class="work wow fadeInUp" data-wow-duration=".3" data-wow-delay=".4s">
                            <div class="work-overlay">
                               <img class=" img-responsive" title="Web and Mobile app development, web design, mobile developer" alt="stark1@2x" src="{{dirlocation}}public/assets/img/services/stark5%402x.png">
                            </div>
                        
                        </div>
                        <!-- End Work -->
                    </div>
                    <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                        <!-- Work -->
                        <div class="work wow fadeInUp" data-wow-duration=".3" data-wow-delay=".5s">
                            <div class="work-overlay">
                              <img class=" img-responsive" title="Web and Mobile app development, web design, mobile developer" alt="stark1@2x" src="{{dirlocation}}public/assets/img/services/stark6%402x.png">
                            </div>
                          
                        </div>
                        <!-- End Work -->
                    </div>
                      <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                        <!-- Work -->
                        <div class="work wow fadeInUp" data-wow-duration=".3" data-wow-delay=".6s">
                            <div class="work-overlay">
                              <img class=" img-responsive" title="Web and Mobile app development, web design, mobile developer" alt="stark1@2x" src="{{dirlocation}}public/assets/img/services/stark13%402x.png">
                            </div>
                          
                        </div>
                        <!-- End Work -->
                    </div>
                      <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                        <!-- Work -->
                        <div class="work wow fadeInUp" data-wow-duration=".3" data-wow-delay=".7s">
                            <div class="work-overlay">
                              <img class=" img-responsive" title="Web and Mobile app development, web design, mobile developer" alt="stark1@2x" src="{{dirlocation}}public/assets/img/services/stark11%402x.png">
                            </div>
                          
                        </div>
                        <!-- End Work -->
                    </div>
                      <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-3">
                        <!-- Work -->
                        <div class="work wow fadeInUp" data-wow-duration=".3" data-wow-delay=".8s">
                            <div class="work-overlay">
                              <img class=" img-responsive" title="Web and Mobile app development, web design, mobile developer" alt="stark1@2x" src="{{dirlocation}}public/assets/img/services/stark%4041x.png">
                            </div>
                          
                        </div>
                        <!-- End Work -->
                    </div>
                    
                       <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-3">
                        <!-- Work -->
                        <div class="work wow fadeInUp" data-wow-duration=".3" data-wow-delay=".8s">
                            <div class="work-overlay">
                              <img class=" img-responsive" title="Web and Mobile app development, web design, mobile developer" alt="stark1@2x" src="{{dirlocation}}public/assets/img/services/stark12%402x.png">
                            </div>
                          
                        </div>
                        <!-- End Work -->
                    </div>
                </div>
                <!-- End Masonry Grid -->
                    </div>
                </div>

               
            
            
            </div>
            <!--// end row -->
        </div>
        <!-- End About -->

       </div>

       
       <div class="" style="background-color: #63cbd7;  ">
            <div class="content-lg container">
                <!-- Swiper Clients -->
                <div class="swiper-slider swiper-clients" >
                    <h2 style="text-align: center; font-size: 24px; color: white">Have an idea? Let’s help transform your next big idea. We’d love to hear from you</h2>
                    <div style="text-align: center;">
                        <a style="padding-right: 20px;  background: white" href="#" class="btn-theme btn-theme-sm   text-uppercase">Start a project</a>
                        <a  href="#" class="btn-theme btn-theme-sm btn-base-bg text-uppercase">Let's talk</a>
                    </div>
                </div>
                <!-- End Swiper Clients -->
            </div>
        </div>

           