 <!--========== PARALLAX ==========-->

        <div class="parallax" data-parallax="scroll" >
            <div class="parallax-content container">
                <h2 class="carousel-title">Web App Development</h2>
                <p>We provide custom web app development for medium-sized and small businesses aimed at solving simple or complex business requirements to improve productivity. From front-end to back-end development, we are highly skilled and experienced to bring your project to life.</p>
            </div>
        </div>
        <!--========== PARALLAX ==========-->

         <div  data-auto-height="true">

        <!-- About -->
        <div class="content-lg container">
            <div class="row">
                <div class="col-sm-12 sm-margin-b-50">
                       <div class="row margin-b-50">
                    <div class="col-sm-6 sm-margin-b-50">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                            <h3>We provide all-round web app development, from project discovery, prototyping to development and deployment, then on to support and maintenance.</h3>
                            <p>The future of the web is mobile-centric, we transform businesses to fit in with the modern cross-platform. Building upon our extensive expertise in UI/UX design, Front & Back-end development, we deliver rich web app experiences that are user-friendly. Functional and beautifully compelled HTML/JavaScript application that works great as a native app both on mobile and tablet devices.</p>
                        
                            
                            <a style="padding: 10px 40px 10px 40px; " href="{{dirlocation}}home/our-process" class="btn-theme btn-theme-sm btn-base-bg text-uppercase">Our process</a>  
                        </div>
                    </div>
                    <div class="col-sm-6 sm-margin-b-50">
                      <img class="img-responsive" src="{{dirlocation}}public/assets/img/strategy/we-work.png" alt="Web and Mobile app development, web design, mobile developer" title="Web and Mobile app development, web design, mobile developer">
                    </div>
                </div> 
                       
              

                     <div class="col-sm-8 margin-b-50">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                            <h3>Rock-solid, enterprise-grade web app development​</h3>
                            <p>Websites have paved the way for web apps, built on a platform of browser-enabled technologies like HTML, Javascript, CSS, HTTPS, and more API powered web apps to rival the capabilities of a desktop and native apps.
                          Web apps have evolved to better meet user expectations of software in the mobile age through the emergence of HTML5, CSS3, HTTPS/2, Responsive Design, Progressive Web Apps, including adaptability, intuitive UI animations, offline operation, and fast load times.
                           We at Reimnet help bring these advances and benefits into your app, whether through enhancement of an existing app or as foundations of a new app. </p> 
                        </div>
                    </div>
                  </div>
                  <div class="row margin-b-20 row-space-1">
                <div class="col-sm-8">
                    <h3>We are well-grounded in web app development</h3>
                    <p>We understand the difference in knowing web app development and truly mastering to delivery result</p>
                </div>
            </div>

                      <div class="row">
                <div class="col-sm-12 margin-b-50">
                         <div class="row  margin-b-2">
                       <div class="col-sm-12 service margin-b-20 bg-color-sky-light">
                              <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                          <div class="row">
                            <div class="col-sm-2 ">
                              <h4 class="spantext">Architectures</h4>
                            </div>
                             <div class="col-sm-9 col-sm-offset-1">
                              
                               <p class="margin-b-20">Technology evolves from time to time, development has gone through the stages of multi-tier architecture, through SOA, and is currently at microservice architecture pattern which is becoming a default the architectural style for the future. We design web applications as a collection of services or loosely coupled modules. The microservice architecture allows the flexibility to change and redeploy modules without worrying about the rest of the application’s components. We achieve scalability with minimal effort and can easily change the technology stack when needed.</p>
                    <ul class="list-unstyled margin-b-20" style="display: flex; justify-content: space-between;">
                                <li class=""  style="color: white" style="margin: 10px 0px"><a class="links" >Parallel development</a><</li>
                                 <li style="color: white" class="" style="margin: 10px 0px"><a  class="links" >Independent deployment</a>/li>
                                 <li style="color: white" class="" style="margin: 10px 0px"><a  class="links" >Code Refactoring</a><</li>
                            </ul>
                            </div>
                          </div>
                          
                        </div>
                    </div> 
                       <div class="col-sm-12 service margin-b-20 ">
                              <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                          <div class="row">
                            <div class="col-sm-2 ">
                              <h4 class="spantext">Cloud Hosting</h4>
                            </div>
                             <div class="col-sm-9 col-sm-offset-1">
                              
                               <p class="margin-b-20">We deploy our web applications using web services like AWS, AWS S3, EC2, DigitalOcean, Heroku, Google Cloud Platform, and Microsoft Azure. We choose cloud solutions based on the specification and business needs of the web application project.</p>
                    <ul class="list-unstyled margin-b-20" style="display: flex; justify-content: space-between;">
                                <li class=""  style="color: white" style="margin: 10px 0px"><a class="links" >AWS</a><</li>
                                 <li style="color: white" class="" style="margin: 10px 0px"><a  class="links" >EC2</a>/li>
                                 <li style="color: white" class="" style="margin: 10px 0px"><a  class="links" >Azure</a><</li>
                            </ul>
                            </div>
                          </div>
                          
                        </div>
                    </div>
                           <div class="col-sm-12 service margin-b-20 bg-color-sky-light">
                              <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                          <div class="row">
                            <div class="col-sm-2 ">
                              <h4 class="spantext">Scalability</h4>
                            </div>
                             <div class="col-sm-9 col-sm-offset-1">
                              
                               <p class="margin-b-20">We build upon modern technologies, observing best practices, having in-depth knowledge of the big market to withstand high loads (traffic) with minimal efforts. We apply scale-up and scale-out (vertical and horizontal scaling) to ensure our web apps run smoothly and can handle increasing loads (traffics) without increasing response times. We optimize resource utilization on different dimensions (memory, data structure, and storage).</p>
                    <ul class="list-unstyled margin-b-20" style="display: flex; justify-content: space-between;">
                                <li class=""  style="color: white" style="margin: 10px 0px"><a class="links" >partitioning</a><</li>
                                 <li style="color: white" class="" style="margin: 10px 0px"><a  class="links" >vertical scaling</a>/li>
                                 <li style="color: white" class="" style="margin: 10px 0px"><a  class="links" >horizontal scaling</a><</li>
                                 <li style="color: white" class="" style="margin: 10px 0px"><a  class="links" >Load balancing</a><</li>
                            </ul>
                            </div>
                          </div>
                          
                        </div>
                    </div>
                
                      <div class="col-sm-12 margin-b-20 service ">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                          <div class="row">
                            <div class="col-sm-2 ">
                              <h4 class="spantext">Databases</h4>
                            </div>
                            <div class="col-sm-9 col-sm-offset-1">
                              
                               <p class="margin-b-20">Our choice of a database during a web development project is based on the system design and user demands. we work with SQL (MySQL) and NoSQL (MongoDB and Redis) databases. As a requirement for a web application, our web apps can store and retrieve data accurately, fast, and securely.</p>
                    <ul class="list-unstyled margin-b-20" style="display: flex; justify-content: space-between;">
                                <li class=""  style="color: white" style="margin: 10px 0px"><a class="links" >MySQL</a><</li>
                                 <li style="color: white" class="" style="margin: 10px 0px"><a  class="links" >MonogoDB</a>/li>
                                 <li style="color: white" class="" style="margin: 10px 0px"><a  class="links" >Redis</a><</li>
                            </ul>
                            </div>
                          </div>
                          
                        </div>
                    </div>
                     <div class="col-sm-12 margin-b-20 bg-color-sky-light service">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                          <div class="row">
                            <div class="col-sm-2 ">
                              <h4 class="spantext">Infrastructure</h4>
                            </div>
                            <div class="col-sm-9 col-sm-offset-1">
                              
                               <p class="margin-b-20">We also engage in server infrastructure management, installing and managing required dependencies (DevOps) to run your web app (code). While installing and managing server infrastructure, we set a secured access configuration (to protect files from web application and server from attackers) and also configure backups. We sometimes rely on PASs (Platform As A Service) like Amazon Lambda to run server-side code without provisioning or managing servers.</p>
                    <ul class="list-unstyled margin-b-20" style="display: flex; justify-content: space-between;">
                                <li class=""  style="color: white" style="margin: 10px 0px"><a class="links" >Nginx</a><</li>
                                 <li style="color: white" class="" style="margin: 10px 0px"><a  class="links" >Doker</a>/li>
                                
                            </ul>
                            </div>
                          </div>
                          
                        </div>
                    </div>
                     <div class="col-sm-12 margin-b-20 service ">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                          <div class="row">
                            <div class="col-sm-2 ">
                              <h4 class="spantext">Programing Frameworks</h4>
                            </div>
                            <div class="col-sm-9 col-sm-offset-1">
                              
                               <p class="margin-b-20">We have different criteria for selecting a framework for a web app project. We look at productivity (speed of development based on project timeline), scalability (how adaptable the framework can be in that project with emerging technologies), and the ability to handle and solve common problems. We specialize in  Laravel for PHP, Angular for JS, Vue for JS, Node.js and React frameworks.</p>
                    <ul class="list-unstyled margin-b-20" style="display: flex; justify-content: space-between;">
                                <li class=""  style="color: white" style="margin: 10px 0px"><a class="links" >Laravel</a><</li>
                                 <li style="color: white" class="" style="margin: 10px 0px"><a  class="links" >Node.js</a>/li>
                                 <li style="color: white" class="" style="margin: 10px 0px"><a  class="links" >Vue</a><</li>
                                 <li style="color: white" class="" style="margin: 10px 0px"><a  class="links" >Angular</a><</li>
                                 <li style="color: white" class="" style="margin: 10px 0px"><a  class="links" >MVC</a><</li>
                            </ul>
                            </div>
                          </div>
                          
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

         <div class="row margin-b-50">
                    <div class="col-sm-6 sm-margin-b-50">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                            <h4>Technologies stack for web app development</h4>
                            <p>Our websites are designed with many technologies put together to deliver a stunning website, optimized for speed, huge traffic & responsive for mobile and web browsers.</p>
                          <div class="row">
                                 <div class="col-sm-6">
                                     <ul class="list-unstyled margin-b-20">
                                <li class="" style="margin: 10px 0px"><a class="links" >PHP</a></li>
                                <li class="" style="margin: 10px 0px"><a class="links" >Laravel</a></li>
                                <li class="footer-list-item" style="margin: 10px 0px"><a class="links" >Javascript</a></li>
                                 <li class="footer-list-item" style="margin:: 10px 0px"><a class="links" >Codeigniter</a></li>
                        
                               
                            </ul>
                                 </div>
                                  <div class="col-sm-6">
                                      <ul class="list-unstyled margin-b-20">
                                <li class="" style="margin: 10px 0px"><a class="links" >Angular</a></li>
                                <li class="" style="margin: 10px 0px"><a class="links" >React Native</a></li>
                                <li class="footer-list-item" style="margin: 10px 0px"><a class="links" >jQuery</a></li>
                                 <li class="footer-list-item" style="margin:: 10px 0px"><a class="links" >MYSQLI</a></li>
                                 
                               
                            </ul>
                                  </div>
                             </div> 
                        </div>
                    </div>
                    <div class="col-sm-6 sm-margin-b-50">
                          <!-- Masonry Grid -->
                <div class="masonry-grid">
                    <div class="masonry-grid-sizer col-xs-6 col-sm-6 col-md-1"></div>
                    <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4">
                        <!-- Work -->
                        <div class="" data-wow-duration=".3" data-wow-delay=".1s">
                            <div class="work-overlay">
                               <img class=" img-responsive" title="Web and Mobile app development, web design, mobile developer" alt="stark1@2x" src="{{dirlocation}}public/assets/img/services/stark1%402x.png">
                            </div>
                            
                        </div>
                        <!-- End Work -->
                    </div>
                    <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                        <!-- Work -->
                        <div class="work wow fadeInUp" data-wow-duration=".3" data-wow-delay=".2s">
                            <div class="work-overlay">
                                <img class=" img-responsive" title="Web and Mobile app development, web design, mobile developer" alt="stark1@2x" src="{{dirlocation}}public/assets/img/services/stark2%402x.png">
                            </div>
                        </div>
                        <!-- End Work -->
                    </div>
                    <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                        <!-- Work -->
                        <div class="work wow fadeInUp" data-wow-duration=".3" data-wow-delay=".3s">
                            <div class="work-overlay">
                               <img class=" img-responsive" title="Web and Mobile app development, web design, mobile developer" alt="stark1@2x" src="{{dirlocation}}public/assets/img/services/stark3%402x.png">
                            </div>
                           
                        </div>
                        <!-- End Work -->
                    </div>
                    <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                        <!-- Work -->
                        <div class="work wow fadeInUp" data-wow-duration=".3" data-wow-delay=".4s">
                            <div class="work-overlay">
                               <img class=" img-responsive" title="Web and Mobile app development, web design, mobile developer" alt="stark1@2x" src="{{dirlocation}}public/assets/img/services/stark5%402x.png">
                            </div>
                        
                        </div>
                        <!-- End Work -->
                    </div>
                    <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                        <!-- Work -->
                        <div class="work wow fadeInUp" data-wow-duration=".3" data-wow-delay=".5s">
                            <div class="work-overlay">
                              <img class=" img-responsive" title="Web and Mobile app development, web design, mobile developer" alt="stark1@2x" src="{{dirlocation}}public/assets/img/services/stark6%402x.png">
                            </div>
                          
                        </div>
                        <!-- End Work -->
                    </div>
                      <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                        <!-- Work -->
                        <div class="work wow fadeInUp" data-wow-duration=".3" data-wow-delay=".6s">
                            <div class="work-overlay">
                              <img class=" img-responsive" title="Web and Mobile app development, web design, mobile developer" alt="stark1@2x" src="{{dirlocation}}public/assets/img/services/stark13%402x.png">
                            </div>
                          
                        </div>
                        <!-- End Work -->
                    </div>
                      <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-4">
                        <!-- Work -->
                        <div class="work wow fadeInUp" data-wow-duration=".3" data-wow-delay=".7s">
                            <div class="work-overlay">
                              <img class=" img-responsive" title="Web and Mobile app development, web design, mobile developer" alt="stark1@2x" src="{{dirlocation}}public/assets/img/services/stark11%402x.png">
                            </div>
                          
                        </div>
                        <!-- End Work -->
                    </div>
                      <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-3">
                        <!-- Work -->
                        <div class="work wow fadeInUp" data-wow-duration=".3" data-wow-delay=".8s">
                            <div class="work-overlay">
                              <img class=" img-responsive" title="Web and Mobile app development, web design, mobile developer" alt="stark1@2x" src="{{dirlocation}}public/assets/img/services/stark%4041x.png">
                            </div>
                          
                        </div>
                        <!-- End Work -->
                    </div>
                    
                       <div class="masonry-grid-item col-xs-6 col-sm-6 col-md-3">
                        <!-- Work -->
                        <div class="work wow fadeInUp" data-wow-duration=".3" data-wow-delay=".8s">
                            <div class="work-overlay">
                              <img class=" img-responsive" title="Web and Mobile app development, web design, mobile developer" alt="stark1@2x" src="{{dirlocation}}public/assets/img/services/stark12%402x.png">
                            </div>
                          
                        </div>
                        <!-- End Work -->
                    </div>
                </div>
                <!-- End Masonry Grid -->
                    </div>
                </div>

               
            
            
            </div>
            <!--// end row -->
        </div>
        <!-- End About -->

       </div>

           