<div class="main-content container-fluid" ng-init="localStorage_get('productDetails')">
  <section class="section">
    <div class="col-12 mt-3 mb-1">
      <h4 class="section-title text-uppercase">EDIT PRODUCT ({{productDetails.name}})</h4>
      <p class="text-subtitle text-muted">A good dashboard to display your statistics</p>
  </div>


           <div class=""  ng-init="fetch_required_table();">
              <div class="col-lg-7" style="box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.09);">
                <div style="text-align: center;" class="loader">
                  <img src="{{dirlocation}}public/assets/images/spinner4.gif" style="width:80px">
                  </div>
                <div class="card-body" ng-init="fetch_all_categories_and_sub_categories()">
                    <div class="alert alert-success result" style="display:none"></div>
                  <form class="forms-sample" id="update_product" ng-submit="update_product()">
                <div class="form-group">
                  <label for="category">CATEGORY</label>
                 <select required="" class="form-control" id="category" ng-model="productDetails.category">
                   <option value="">SELECT CATEGORY</option>
                   <option ng-repeat="catSub in categories_and_sub track by $index"  value="{{catSub.id}}"> {{ catSub.title }}</option>
                  </select>   
                </div>
                 
                <div class="form-group" ng-if="productDetails.category">
                  <label for="sub_category">SUB CATEGORY</label>
               <select required  class="form-control" name="sub_category" id="sub_category" ng-model="productDetails.sub_category">
                <optgroup ng-repeat="sub in  categories_and_sub | filter : {id: productDetails.category}" label="--SELECT SUB CATEGORY--">
                    <option value="">--SELECT SUB CATEGORY--</option>
                <option  ng-repeat="subcart in sub.subcategory"  value="{{subcart.sub_id}}"> {{subcart.title}} 
                </option>
                   </optgroup>

                <!-- <option value="">SELECT SUB-CATEGORY</option>   
                <option  ng-repeat="Sub in sub_category track by $index"   value="{{Sub.sub_id}}">{{ Sub.title }} </option>  -->
                 </select>
                  </div>
                   

                   <!-- <div class="form-group" ng-if="5==cate">
                  <label for="brand">Brand</label>
                 <input type="text" name="brand" placeholder="Name of Brand" class="form-control">
                  </div>  -->
                  
                  <div ng-if="selected_category.id=='1'" ng-include="'../app/views/user/views/add_product_forms/new_product1.html'"></div>
                  <div ng-if="selected_category.id=='2'" ng-include="'../app/views/user/views/add_product_forms/new_product2.html'"></div> 
                  <div ng-if="selected_category.id=='3'" ng-include="'../app/views/user/views/add_product_forms/new_product3.html'"></div>

                 <div>
                  <div class="form-group">
                  <label for="color">Color</label>
                  <input type="text" name="color" ng-model="productDetails.color" placeholder="Color " class="form-control">
                  </div>
                    <div class="form-group">
                      <label>Select Condition</label>
                      <select   class="form-control" name="condition_state" ng-model="productDetails.condition_state">
                       <option selected="" value="">Condition</option>
                       <option  ng-repeat="condition in requiredCondition"  value="{{condition.state}}"> {{ condition.state }}       
                       </option>
                       </select>
                     </div>
                     
                <div class="form-group">
                  <label for="name">Title</label>
                    <input type="text" name="name" ng-model="productDetails.name" placeholder="Ads Title" class="form-control">
                  </div>
                    <div class="form-group">
                    <label>Price </label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">N</span>
                      </div>
                      <input type="" name="price" ng-model="productDetails.price" class="form-control" placeholder="Price">
                    </div>
                  </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3">Negotiable</label>
                          <div class="col-sm-4">
                              <label>
                                <input type="radio" ng-model="productDetails.negotiable" name="negotiable" class="" value="0" checked>
                                No
                              </label>
                          </div>
                          <div class="col-sm-5">
                              <label>
                                <input type="radio" class=""  ng-model="productDetails.negotiable"  value="1"  name="negotiable">
                                Yes
                              </label>
                          </div>
                        </div>
                      </div>
                    
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3">Delivery Available</label>
                          <div class="col-sm-4">
                              <label>
                                <input type="radio" ng-model="productDetails.delivery_available" name="delivery_available" class="" value="0" checked>
                                No
                              </label>
                          </div>
                          <div class="col-sm-5">
                              <label>
                                <input type="radio" ng-model="productDetails.delivery_available" class=""  value="1"  name="delivery_available">
                                Yes
                              </label>
                          </div>
                        </div>
                      </div>


                    <div class="form-group">
                     <label for="state">Select State Region</label>
                    <select required=""  class="form-control" name="state" ng-model="productDetails.state">
                     <option selected="" value="">State</option>
                     <option  ng-repeat="states in  requiredState"  value="{{ states.state }}"> {{ states.state }}</option>
                     </select>
                    </div>
                     <div  ng-if="productDetails.state">
                    <div class="form-group">
                   <select  class="form-control" name="lga" ng-model="productDetails.lga">
                     <label for="lga">Select Local</label>
                    <option   value="" selected="">LGA</option>
                    <optgroup  ng-repeat="states in  requiredState | filter : productDetails.state" >
                    <option  ng-repeat="local in  states.lgas | filter : state"  value="{{ local.Lga }}"> {{ local.Lga}}                     
                   </option>
                   </optgroup>
                    </select>                 
                      </div>
                       <div class="form-group"  >
                        <label for="landmark">Nearest LandMark</label>
                      <input type="text" name="land_mark" ng-model="productDetails.land_mark" placeholder="LandMark" class="form-control">
                     </div>
                    </div> 
                       <div class="form-group">
                      <label for="exampleTextarea1">Description</label>
                      <textarea class="form-control" name="description" rows="4" ng-model="productDetails.description"></textarea>
                    </div>
                    <div class="form-group" ng-init="input_array_values=[];input_files_values=[]">
                      <label>Add Product upload</label>
                      <input type="file" id="product_source_files" onchange="angular.element(this).scope().attach_image(this)" multiple class="form-control">
                      <span style="font-size: 12px; color: red">* Upload multiple images</span>
                     
                    </div>

                    <div ng-init="product_images = productDetails.image.split(',')" style="margin-bottom: 10px;">
                  
                    <div class="product_image_div" ng-if="productDetails.image!=''" ng-repeat="img in product_images">
                      <button type="button" class="btn btn-warning cancel_product_btn" ng-click="delete_uploaded_product_image(productDetails.id,$index)">
                        <img src="{{dirlocation}}public/assets/images/spinner2.gif" class="loader2_{{$index}}" style="width:15px;display:none">
                        Cancel</button>
                      <img class="product_image_thumbnail" src="{{dirlocation}}public/assets/images/uploads/products/{{img}}">
                    </div>
                  </div>

                  <div class="product_image_div" ng-repeat="files in input_array_values">
                    <button type="button" class="btn btn-warning cancel_product_btn" ng-click="delete_product_image($index)">Cancel</button>
                    <img class="product_image_thumbnail" src="{{files}}">
                  </div>

                  <div style="clear:both"></div>
                    <div class="alert alert-success result" style="display:none"></div>
                    </div> 
                    <input type="hidden" name="category" id="seller_id" value="{{productDetails.category}}">
                    <input type="hidden" name="edit" value="{{productDetails.id}}"> 
                    <input type="hidden" name="product_code" value="{{productDetails.product_code}}"> 
                    <button type="submit" class="btn btn-primary btn-sm" style="margin-top:10px">
                      <img src="{{dirlocation}}public/assets/images/spinner2.gif" class="loader" style="width:25px;display:none">Submit</button>
                  </form>
                </div>
              </div>

            </div>
    </section>
    </div>
       