<!--
<div class="main-content container-fluid">
  <section class="section">
    <div class="col-12 mt-3 mb-1">
      <h4 class="section-title text-uppercase">Update Password</h4>
      <p class="text-subtitle text-muted">A good dashboard to display your statistics</p>
  </div>
          <div class="row">
            <div class="col-md-7 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
             <div class="col-md-12 grid-margin stretch-card">
                
                <div class="col-md-10 mx-auto" ng-init="fetch_single_user()">
                   <p class="card-title">Change Password</p>
          <form id="update_password" ng-submit="update_password()">
            <div class="alert alert-info result" style="display:none"></div>
          <div class="form-group">
            <input type="hidden" name="user_id" value="{{user_data.id}}">
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            placeholder="New Password"
            required
          />
        </div>
        
         <div class="form-group">
             <input
            type="password"
            name="confirm_password"
            id="confirm_password"
            class="form-control"
            placeholder="Confirm Password"
            required
          />
        </div>
       
        <div class="form-footer">
            <button type="submit" class="btn btn-primary" id="">
              Update
            </button>
          </div>
                       </form>
                    </div>
                 
                
              
            </div>
        
          </div>
                 
                  
                </div>
              </div>
            </div>
            
        
          </div>
</section>
</div>
-->
    <section class="content-header">
      <h1>
        Change Password
      </h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="home.php"><i class="mdi mdi-home-outline"></i> Home</a></li>
        <li class="breadcrumb-item active">Change Password</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
    <div class="row">
      <div class="col-12">
        <div class="box">
          <div class="box-header with-border bg-light">
            <h4 class="box-title">Change password</h4>
            <ul class="box-controls pull-right">
            <li><a class="box-btn-close" href="#"></a></li>
            <li><a class="box-btn-slide" href="#"></a></li> 
            <li><a class="box-btn-fullscreen" href="#"></a></li>
            </ul>
          </div>
          <form novalidate method="post" action="" enctype="multipart/form-data">
          <div class="box-body">
            <div><?php
 $b_sql = "SELECT *   FROM admin";
$resultb = mysqli_query($link,$b_sql);
$rowb = mysqli_fetch_assoc($resultb);
$pwd = $rowb['password'];
             echo $msg ?></div>
            

         <div class="form-group row">
            <label for="example-url-input"  class="col-sm-2 col-form-label sr-only">Old Password</label>
            <div class="col-sm-10">
  
             
<div class="form-group">
<input type="hidden"  name="email"  value="<?php  echo $_SESSION['adminemail']?>" class="form-control">
 
</div>
              
            <div class="controls">
                 
               <input type="hidden"  name="password" value="<?php  echo $pwd ?>"  placeholder="Enter old password" class="form-control require" required=""  >
               
              </div>
                  
            </div>
          </div>
          <div class="form-group row">
            <label for="example-url-input"  class="col-sm-2 col-form-label">Old Password</label>
            <div class="col-sm-10">
              
            <div class="controls">
                   <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-key"></i></span>
               <input type="password"  name="password2" data-validation-match-match="password"placeholder="Enter old password" class="form-control require" required=""  >
               
              </div>
                     </div>
            </div>
          </div>
           <div class="form-group row">
            <label for="example-url-input"  class="col-sm-2 col-form-label">New Password</label>
            <div class="col-sm-10">
            <div class="controls">
                   <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-key"></i></span>
               <input type="password" name="npassword" placeholder="Enter new password" class="form-control require" required=""  >
               
              </div>
                     </div>
            </div>
          </div>
        
          
          
        </div>
        
          <!-- /.box-body -->
          <div class="box-footer">
          <button type="submit" name="change" class="btn btn-info pull-right">Change password</button>
          </div>
          <!-- /.box-footer-->
                     </form>
        </div>
      </div>


  
    </div>
    </section>
    <!-- /.content -->