<div class="form-group">
  <label for="color"> Select Make</label>
  <select class="form-control" id="brand" ng-model="vehicle" name="brand">
    <option value="">--SELECT MAKE --- </option>
    <option ng-repeat="cars in requiredCar" value="{{cars.make}}"> {{ cars.make }}
    </option>
  </select>
</div>
<div class="form-group" ng-if="vehicle">
  <label for="color"> Select Model</label>
  <select class="form-control" required name="model" id="model">
    <optgroup ng-repeat="cars in  requiredCar | filter : vehicle" label="SELECT MODEL">
      <option ng-repeat="models in  cars.car_models" value="{{ models.model }}"> {{models.model}}
      </option>
    </optgroup>
  </select>
</div>
<div class="form-group">
  <label for="Model">Year</label>
  <input name="year_of_manufacture" type="number" class="form-control" placeholder="Year of Manufacture">
</div>
<div class="form-group">
  <label for="Model">Select Transmission</label>
  <select required class="form-control" name="transmission_type_vehicle" id="transmission_type_vehicle">
    <option selected="" value="">--SELECT TRANSMISSION--</option>
    <option value="Brand New"> Automatic </option>
    <option value="Manual">Manual</option>
    <option value="Semi-automatic">Semi-automatic</option>
    <option value="Tiptronic"> Tiptronic</option>
  </select>
</div>
<div class="form-group">
  <label>Mileage(KM)</label>
  <input required name="mileage" type="number" id="mileage" class="form-control" placeholder="Mileage">
</div>