<div class="form-group">
    <label>Hard Drive Size</label>
<input type="text" name="hard_drive_size" class="form-control" placeholder="Hard Drive Size">
 </div>
  <div class="form-group">
    <label>Operatting System</label>
<input type="text" name="operating_system" class="form-control" placeholder="Operating System">
 </div>
  <div class="form-group">
    <label>Ram</label>
<input type="number" name="ram" class="form-control" placeholder="Ram">
 </div>
  <div class="form-group">
    <label>Internal Storage</label>
<input type="number" name="internal_storage" class="form-control" placeholder="Internal Storage">
 </div>
    
   

