<!--========== SLIDER ==========-->
        <div id="carousel-example-generic" class="carousel slide" >
           

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img class="img-responsive" src="{{dirlocation}}public/assets/img/1920x1080/01.jpg" alt="Slider Image">
                    <div class="container">
                        <div class="carousel-centered">
                            <div class="margin-b-40">
                                <h1 class="carousel-title">404</h1>
                                <h2 class="carousel-title">SORRY!</h2>
                <h3 >The page you’re looking for was not found.</h3>
                              
                            </div>
                            <a class="btn-theme btn-theme-sm btn-white-brd text-uppercase"  href="<?php echo APP_URL; ?>/public/Home/index.html">Back to home</a>
                        </div>
                               <div class="row mt-5 carousel-indicators">
              <div class="col-12 mt-xl-2">
                <p class="text-white font-weight-medium text-center">Copyright &copy; 2021 All rights reserved.</p>
              </div>
            </div>
                    </div>

                </div>
            </div>
        </div>